<th:block th:fragment="ax5_uploader">
<script type="text/x-tmpl" id="ax5_file_upload_template">
    <div data-ax5uploader="fileuploadAx" class="fileuploaddiv" id="{%=o.divFileUpload%}">
        <span class="fileuploadTitle"></span>
        <input type="hidden" class="btn " data-ax5uploader-button="selector" id ="addFile" />
        <button class="btn " id ="{%=o.btnRemoveAllFile%}" >전체삭제</button>
        <div data-uploaded-box="fileuploadAx" data-ax5uploader-uploaded-box="inline" id="{%=o.fileUploadBox%}"></div>
        <input type="hidden" id="{%=o.inputFileId%}" name="srchFileId" />
        <input type="hidden" id="{%=o.inputDataPk%}" name="DataPk"/>
    </div>
</script>

<script th:inline="javascript" type="text/javascript">
    class ax5FileUploadClass {
        constructor(div_name, data_pk, option) {
            this.data_pk = data_pk;
            this.file_id_list = [];
            this.table_name = option.table_name;
            this.attach_name = option.attach_name;
            this.accept_files = option.accept_files;
            this.multiple = option.multiple;
            this.max_count = option.max_count;
            this.file_size = option.file_size;
            this.thumb_nail = option.thumb_nail;
            this.upload_callback = option.upload_callback;
            this.delete_callback = option.delete_callback;
            this.file_click_callback = option.file_click_callback;
            this._uploadCompleting = false;
            this._pendingFiles = []; // manual_upload 모드: 저장 전까지 대기하는 파일 목록
            this.can_write = option.can_write;
            // true: 저장 버튼 클릭 시 업로드 (신규 등록 동시성 문제 방지)
            this.manual_upload = option.manual_upload !== undefined ? option.manual_upload : false;

            if (!this.attach_name)   this.attach_name   = 'basic';
            if (!this.accept_files)  this.accept_files  = 'zip,pdf,doc,docx,xls,xlsx,ppt,pptx';
            if (!this.multiple)      this.multiple      = true;
            if (!this.max_count)     this.max_count     = 10;
            if (!this.file_size)     this.file_size     = 20;
            if (!this.thumb_nail)    this.thumb_nail    = 'N';
            if (this.can_write === undefined) this.can_write = true;

            this.base_url    = '/api/common/attach_file';
            this.upload_url  = withCtx('/api/files/upload');
            this.download_url = withCtx('/api/files/download');
            this.downzip_url = '/api/files/downzip';

            this.divFileUpload    = option.divFileUpload    || 'fileUploadDiv';
            this.btnAddFile       = option.btnAddFile       || 'addFile';
            this.btnDownloadAllFile = option.btnDownloadAllFile || 'downloadFileAll';
            this.btnRemoveAllFile = option.btnRemoveAllFile || 'removeFileAll';
            this.fileUploadBox    = option.fileUploadBox    || 'fileUploadBox';
            this.inputFileId      = option.inputFileId      || 'srchFileId';
            this.inputDataPk      = option.inputDataPk      || 'DataPk';

            let data = {
                divFileUpload: this.divFileUpload,
                btnAddFile: this.btnAddFile,
                btnDownloadAllFile: this.btnDownloadAllFile,
                btnRemoveAllFile: this.btnRemoveAllFile,
                fileUploadBox: this.fileUploadBox,
                inputFileId: this.inputFileId,
                inputDataPk: this.inputDataPk,
            };

            let html = tmpl('ax5_file_upload_template', data);
            $('#' + div_name).html(html);
            $('#' + this.inputDataPk).val(this.data_pk);
            this.init();
        }

        init() {
            let _this = this;
            if (_this.UPLOAD) _this.UPLOAD = null;

            $('#' + _this.btnRemoveAllFile).off('click');
            $('#' + _this.btnDownloadAllFile).off('click');

            let disabled = !_this.can_write;
            $('#' + _this.btnAddFile).prop('disabled', disabled);
            $('#' + _this.btnRemoveAllFile).prop('disabled', disabled);

            let accept = '.' + _this.accept_files.split(',').join(',.');
            let $target = $('#' + _this.divFileUpload);

            let myconfig = {
                fileSize: _this.file_size,
                maxcnt: _this.max_count,
                accept: accept,
                accepts: _this.accept_files,
                dropZone: _this.can_write ? 'fileuploadAx' : '',
                boxZone: 'fileuploadAx',
                icons: {
                    'download': '<i class="fa fa-download" aria-hidden="true"></i>',
                    'delete': '<i class="fa fa-minus-circle" aria-hidden="true"></i>'
                },
                emptymsg: _this.can_write ? '파일을 Drag&amp;Drop하거나 클릭하여 업로드를 진행하세요' : '파일 업로드 권한이 없습니다.',
                addfileext: 'Y',
                tableName: _this.table_name,
                attachName: _this.attach_name,
                thumb_nail: 'N',
            };
            _this.myconfig = myconfig;

            let iconPath = /*[[@{/images/icon/ico-fileupload.svg}]]*/ '';
            let emptyListMsg = '<div class="upload-filebox" style="padding: 10px;"><img src="' + iconPath + '" alt="업로드아이콘"><a class="btn" title="파일업로드">파일 업로드</a>' + myconfig.emptymsg + '</div>';
            if (myconfig.dropZone === '') {
                emptyListMsg = '<div class="text-center" style="padding: 10px;">' + myconfig.emptymsg + '</div>';
            }

            let DIALOG = new ax5.ui.dialog({ title: '파일업로드' });
            _this.DIALOG = DIALOG;

            $target.children('span.fileuploadTitle').html(
                '<span>첨부파일</span> [' + accept + '] [1개당 최대Size: ' + _this.file_size + 'MB, 최대파일수: ' + _this.max_count + '개]'
            );

            let folder_name = _this.table_name || '';
            let upload_uri = _this.upload_url + '?tableName=' + _this.table_name;
            let _dataPk = (_this.data_pk == null || isNaN(Number(_this.data_pk))) ? 0 : Number(_this.data_pk);
            upload_uri += '&DataPk=' + _dataPk
                + '&attachName=' + _this.attach_name
                + '&accepts=' + _this.accept_files
                + '&fileSize=' + _this.file_size
                + '&addfileext=' + myconfig.addfileext
                + '&others=' + folder_name
                + '&thumbnailYN=' + _this.thumb_nail;

            try {
                _this.UPLOAD = new ax5.ui.uploader({
                    debug: false,
                    target: $target,
                    form: { action: encodeURI(upload_uri), fileName: 'uploadfile' },
                    accept: myconfig.accept,
                    multiple: _this.multiple,
                    // manual_upload 모드: send()를 자동 호출(false)하되 validateSelectedFiles에서 차단
                    // → 파일 선택 즉시 검증 실행 가능, progressBox는 숨겨 팝업 없음
                    manualUpload: false,
                    progressBox: !_this.manual_upload,
                    progressBoxDirection: 'left',
                    dropZone: {
                        target: $('[data-uploaded-box="' + myconfig.dropZone + '"]')
                    },
                    uploadedBox: {
                        target: $('[data-uploaded-box="' + myconfig.boxZone + '"]'),
                        icon: myconfig.icons,
                        columnKeys: {
                            name: 'fileNm', type: 'fileExt', size: 'fileSize',
                            uploadedName: 'fileNm', uploadedPath: '', downloadPath: '',
                            previewPath: '', thumbnail: ''
                        },
                        lang: {
                            supportedHTML5_emptyListMsg: emptyListMsg,
                            emptyListMsg: '<div class="text-center" style="padding-top:30px;">Empty of List.</div>'
                        },
                        onchange: function () {
                            // ax5가 uploadedBox를 갱신할 때마다 대기 파일 목록 다시 표시
                            if (_this.manual_upload) _this._showPendingFiles();
                            _this._syncEmptyMsg();
                        },
                        onclick: function () {
                            let fileIndex = this.fileIndex;
                            let file = _this.UPLOAD.uploadedFiles[fileIndex];
                            switch (this.cellType) {
                                case 'delete':
                                    if (!_this.can_write) {
                                        Alert.alert('파일 삭제', '권한이 없습니다.');
                                        return;
                                    }
                                    DIALOG.confirm(
                                        { title: '삭제', msg: '해당 파일을 삭제하시겠습니까?', autoCloseTime: 10000 },
                                        function () {
                                            if (this.key !== 'ok') return;
                                            if (_this.deleteFile(fileIndex)) {
                                                DIALOG.close();
                                                _this.getFileIds();
                                                _this._syncEmptyMsg();
                                                Notify.success('파일이 삭제되었습니다.');
                                            }
                                        }
                                    );
                                    break;
                                case 'download':
                                    if (file) {
                                        AjaxUtil.downloadFile(_this.download_url + '?file_id=' + file.fileId, file.fileNm);
                                    }
                                    break;
                                case 'filename':
                                    _this.file_click_callback(file.fileId);
                            }
                        }
                    },
                    validateSelectedFiles: function () {
                        if (!_this.can_write) {
                            Alert.alert('파일 업로드 오류', '권한이 없습니다.');
                            return false;
                        }
                        // 파일 크기 체크
                        let maxBytes = _this.file_size * 1024 * 1024;
                        for (let i = 0; i < this.selectedFiles.length; i++) {
                            let f = this.selectedFiles[i];
                            if (f && f[0]) f = f[0];
                            if (f && f.size > maxBytes) {
                                Alert.alert('', '파일 크기가 ' + _this.file_size + 'MB를 초과합니다.');
                                return false;
                            }
                        }
                        // 최대 파일 수 체크 (업로드 완료 + 대기 중 + 신규)
                        if (this.uploadedFiles.length + _this._pendingFiles.length + this.selectedFiles.length > _this.max_count) {
                            Alert.alert('', _this.max_count + '개 이상의 파일을 업로드할 수 없습니다.');
                            return false;
                        }

                        if (_this.manual_upload) {
                            // 파일을 대기열로 이동, fileUploadBox에 표시, ax5 업로드 차단
                            _this._pendingFiles.push(...this.selectedFiles);
                            this.selectedFiles.splice(0); // 중복 방지
                            _this._showPendingFiles();
                            return false;
                        }
                        return true;
                    },
                    onprogress: function () {},
                    onuploaderror: function () {
                        Alert.alert('업로드 오류', _this.UPLOAD.statusText);
                    },
                    onuploaded: function () {},
                    onuploadComplete: function () {
                        if (_this._uploadCompleting) return;
                        _this._uploadCompleting = true;
                        _this.getFileIds();
                        let file_id = _this.file_id_list[_this.file_id_list.length - 1];
                        _this.upload_callback(file_id);
                        _this._uploadCompleting = false;
                    }
                });
            } catch (ex) {
                console.error('[ax5FileUploadClass] init 오류:', ex);
            }

            $('#' + _this.btnDownloadAllFile).on('click', function () {
                if (_this.UPLOAD.uploadedFiles.length > 0) {
                    _this.DIALOG.confirm(
                        { title: '전체 다운로드', msg: 'zip으로 압축하여 다운로드하시겠습니까?' },
                        function () {
                            if (this.key !== 'ok') return;
                            location.href = _this.downzip_url + '?file_ids=' + $('#' + _this.inputFileId).val();
                        }
                    );
                }
            });

            $('#' + _this.btnRemoveAllFile).on('click', function () {
                if (!_this.can_write) {
                    Alert.alert('파일 삭제', '권한이 없습니다.');
                    return;
                }
                let uploadedCount = _this.UPLOAD.uploadedFiles.length;
                let pendingCount  = _this._pendingFiles.length;
                if (uploadedCount === 0 && pendingCount === 0) return;

                _this.DIALOG.confirm(
                    { title: '전체 파일 삭제', msg: '모든 파일을 삭제하시겠습니까?' },
                    function () {
                        if (this.key !== 'ok') return;
                        for (let i = uploadedCount - 1; i >= 0; i--) _this.deleteFile(i);
                        _this.getFileIds();
                        _this._pendingFiles = [];
                        _this._showPendingFiles();
                    }
                );
            });

            $('#' + _this.fileUploadBox).show();
            _this.getAttachFiles();
        }

        deleteFile(fileIndex) {
            let _this = this;
            let file = _this.UPLOAD.uploadedFiles[fileIndex];
            let result = AjaxUtil.postSyncData(_this.base_url + '/deleteFile', {
                fileId: file.fileId,
                tableName: file.TableName,
                physicFileName: file.AttachName
            });
            if (result && result.success) {
                _this.UPLOAD.removeFile(fileIndex);
                return true;
            }
            return false;
        }

        getFileIds() {
            let _this = this;
            let fileIds = '';
            _this.file_id_list = [];
            $.each(_this.UPLOAD.uploadedFiles, function (i, item) {
                _this.file_id_list.push(item.fileId);
                fileIds += (i === 0 ? '' : ',') + item.fileId;
            });
            $('#' + _this.inputFileId).val(fileIds);
            return fileIds;
        }

        getAttachFiles() {
            let _this = this;
            _this.data_pk = (isNaN(Number(_this.data_pk)) || _this.data_pk == null) ? 0 : Number(_this.data_pk);
            if (_this.data_pk <= 0) {
                _this.UPLOAD.setUploadedFiles([]);
                return;
            }
            let result = AjaxUtil.getSyncData(_this.base_url + '/detailFiles', {
                TableName: _this.table_name,
                DataPk: _this.data_pk,
                attachName: _this.attach_name
            });
            if (_this.UPLOAD && result) {
                _this.UPLOAD.setUploadedFiles(result.data);
                _this.getFileIds();
            }
        }

        imageUri(file_id) {
            return file_id ? this.download_url + '?file_id=' + file_id + '&t=' + Date.now() : '';
        }
        showFirstImage(imgTag) {
            if (this.file_id_list.length > 0)
                $('#' + imgTag).attr('src', this.imageUri(this.file_id_list[0]));
        }
        showLastImage(imgTag) {
            let len = this.file_id_list.length;
            if (len > 0) $('#' + imgTag).attr('src', this.imageUri(this.file_id_list[len - 1]));
        }
        showImage(imgTag, file_id) {
            $('#' + imgTag).attr('src', this.imageUri(file_id));
        }

        // 파일이 하나라도 있으면 빈 안내 메시지 숨김, 없으면 표시
        _syncEmptyMsg() {
            let _this = this;
            let $box = $('[data-uploaded-box="' + _this.myconfig.boxZone + '"]');
            let hasFiles = (_this.UPLOAD && _this.UPLOAD.uploadedFiles.length > 0)
                         || _this._pendingFiles.length > 0;
            $box.find('.upload-filebox').toggle(!hasFiles);
        }

        // 대기 중인 파일 목록을 fileUploadBox 안에 표시 (ax5가 박스를 갱신해도 onchange로 재호출됨)
        _showPendingFiles() {
            let _this = this;
            let $box = $('[data-uploaded-box="' + _this.myconfig.boxZone + '"]');
            $box.find('.ax5-pending-item').remove();
            _this._pendingFiles.forEach(function (f, i) {
                let file = (f && f[0]) ? f[0] : f;
                let name = (file && file.name) ? file.name : '파일';
                let size = file ? (file.size > 1024 * 1024
                    ? (file.size / 1024 / 1024).toFixed(1) + ' MB'
                    : Math.round(file.size / 1024) + ' KB') : '';
                let $item = $([
                    '<div class="ax5-pending-item" data-pending-idx="' + i + '" style="',
                    'display:flex;align-items:center;padding:6px 10px;border-bottom:1px solid #f0f0f0;gap:8px;">',
                    '<span style="flex:1;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">',
                    '&#128206; ' + name + '</span>',
                    '<span style="font-size:11px;color:#999;white-space:nowrap;">' + size + '</span>',
                    '<div style="width:80px;height:4px;background:#e8e8e8;border-radius:2px;flex-shrink:0;">',
                    '<div class="ax5-pending-bar" style="height:100%;width:0%;background:#5b9bd5;border-radius:2px;transition:width 0.15s;"></div>',
                    '</div>',
                    '<a href="javascript:void(0)" data-idx="' + i + '"',
                    ' style="color:#c00;font-size:16px;line-height:1;flex-shrink:0;text-decoration:none;">&times;</a>',
                    '</div>'
                ].join(''));
                $item.find('a').on('click', function () {
                    _this._pendingFiles.splice(parseInt($(this).data('idx')), 1);
                    _this._showPendingFiles();
                });
                $box.append($item);
            });
            _this._syncEmptyMsg();
        }

        // 저장 성공 후 실제 bbsseq로 파일 업로드 (XHR + 실시간 진행률)
        // 사용법: uploader.uploadNow(savedId, afterSave)
        uploadNow(bbsseq, callback) {
            let _this = this;
            let files = [..._this._pendingFiles];
            if (!files.length) { if (callback) callback(); return; }

            let uploadUrl = _this.upload_url
                + '?tableName=' + _this.table_name
                + '&DataPk=' + bbsseq
                + '&attachName=' + _this.attach_name
                + '&accepts=' + _this.accept_files
                + '&fileSize=' + _this.file_size
                + '&addfileext=' + (_this.myconfig ? _this.myconfig.addfileext : 'Y')
                + '&others=' + _this.table_name
                + '&thumbnailYN=' + (_this.thumb_nail || 'N');

            let $box = $('[data-uploaded-box="' + _this.myconfig.boxZone + '"]');

            function uploadNext(i) {
                if (i >= files.length) {
                    _this._pendingFiles = [];
                    if (callback) callback();
                    return;
                }
                let f = files[i];
                if (f && f[0]) f = f[0];

                // 해당 인덱스의 진행 바
                let $bar = $box.find('[data-pending-idx="' + i + '"] .ax5-pending-bar');

                let fd = new FormData();
                fd.append('uploadfile', f);

                let xhr = new XMLHttpRequest();
                xhr.upload.addEventListener('progress', function (e) {
                    if (e.lengthComputable) {
                        $bar.css('width', Math.round(e.loaded / e.total * 100) + '%');
                    }
                });
                xhr.addEventListener('load', function () {
                    $bar.css({ width: '100%', background: '#52c41a' }); // 완료: 초록
                    uploadNext(i + 1);
                });
                xhr.addEventListener('error', function () {
                    $bar.css({ background: '#ff4d4f' }); // 실패: 빨강
                    console.error('[uploadNow] 파일 업로드 실패:', f.name);
                    uploadNext(i + 1);
                });
                xhr.open('POST', encodeURI(uploadUrl));
                xhr.send(fd);
            }

            uploadNext(0);
        }
    }
</script>
</th:block>
