<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <style>
    .wj-header {
      text-align: center !important;
    }
  </style>
</head>

<th:block layout:fragment="content">
  <div class="layout-contents">
    <!-- Page Title -->
    <div class="page-title-wrap">
      <div class="left">
        <h2>공장 정보</h2>
        <a title="북마크" class="bookmark toggle">
          내메뉴
        </a>
      </div>
      <ul class="page-navi">
        <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
        <li>시스템설정</li>
        <li>기준정보</li>
        <li>공장정보</li>
      </ul>
    </div>

    <div style="display: flex; gap: 5px">
      <section class="section" style="width: 60%;">
        <div class="section-top">
          <div class="search-wrap">
            <dl>
              <dt>
                <label>코드</label>
              </dt>
              <dd>
                <div class="srch-box">
                  <input type="text" class="form-control2" id="txtKeyword" name="txtKeyword">
                </div>
              </dd>
            </dl>

            <dl>
              <dt><span class="eq"></span></dt>
              <dd>
                <li>
                  <a class="btn btn-delete" title="검색" id="btnSearch">
                    <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                    검색
                  </a>
                </li>
              </dd>
            </dl>
          </div>

        </div> <!--//section-top end -->
        <div class="container-fluid">
          <p id="selectedItem"></p>
          <div id="theGrid" style=""></div>
        </div>
        <div class="btn-wrap">
        </div>
      </section>
      <section style="width: 40%;">
        <div class="section-top">
          <div class="search-wrap">
            <ul>
              <li>
                <!-- <a class="btn btn-excell" title="신규등록" id="btnNew" >
                     <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                     신규등록
                 </a>-->
                <button type="button" class="btn-default" id="btnNew" name="btnNew"
                        style="height: 36px; width:115px;"><i
                        class="fas fa-plus"></i>신규등록
                </button>
              </li>

              <li>
                <!-- <a class="btn btn-edit" id="btnSave" title="저장">
                     <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                     저장
                 </a>-->
                <button type="button" class="btn-excellt btn-default" id="btnSave"
                        style="float:none; height: 36px; width:115px;">
                  <i class="fas fa-save"></i>저장
                </button>
              </li>

              <li>
                <!--  <a class="btn btn-delete" title="삭제" id="btnDel">
                      <img src="/images/icon/ico-delete.svg" alt="삭제 아이콘">
                      삭제
                  </a>-->
                <button type="button" class="btn-delete btn-danger " id="btnDel"
                        style="float:none; height: 36px; width:115px;"><i
                        class="fas fa-trash"></i>삭제
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="table-wrap" style=" overflow-x: auto;">
          <form id="basicForm">
            <table class="write-table" style="width: 100%; border-collapse: collapse;">
              <caption style="text-align: left; margin-bottom: 8px;">등록테이블</caption>
              <colgroup>
                <col class="wp20">
                <col class="wp80">
              </colgroup>
              <input type="hidden" id="id" name="id"/>
              <tbody>
              <tr>
                <th>
                  <label for="Code"><span class="eq">*</span>코드</label>
                </th>
                <td>
                  <input id="Code" name="Code" style="width: 100%;">
                </td>

              </tr>
              <tr>
                <th>
                  <label for="Name"><span class="eq">*</span>공장명</label>
                </th>
                <td>
                  <input type="text" id="Name" name="Name" style="width: 100%;">
                </td>

              </tr>

              </tbody>
            </table>
          </form>
        </div>
      </section>
    </div>
  </div> <!--//layout-contents end -->

  <footer style="margin-top: 24px;">
    <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
  </footer>

</th:block>
<th:block layout:fragment="scripts">
  <th:block th:replace="/common/approve_box :: approve_box"></th:block>
  <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
  <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
  <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

  <script type="text/javascript">


    var theGrid;
    var viewdata;

    let columns = [
      {binding: 'id', header: '번호', width: 100, align: 'center', visible: false},
      {binding: 'dept_code', header: '코드', width: 120, align: 'center'},
      {binding: 'dept_name', header: '공장명', width: "*", align: 'center'}
    ];


    document.readyState === 'complete' ? init() : window.onload = init;

    function init() {
      let data2 = [];

      let keyword = $('#txtKeyword').val();
      $.ajax({
        url: '/api/definition/factory/read',
        type: 'GET',
        data: {
          'keyword': keyword,
          spjangcd: sessionStorage.getItem('spjangcd'),
        },
        async: false,
        success: function (data) {
          data2 = data.data;
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.error('Error fetching log_count data:', textStatus, errorThrown);
        }
      })

      viewdata = new wijmo.collections.CollectionView(data2);

      theGrid = new wijmo.grid.FlexGrid('#theGrid', {
        autoGenerateColumns: false,
        showMarquee: true,
        columns: columns,
        isReadOnly: true,
        itemsSource: viewdata
      });

      theGrid.hostElement.addEventListener('click', function (e) {
        let selectedItem = theGrid.selectedItems[0];

        document.getElementById('id').value = selectedItem.id;
        document.getElementById('Code').value = selectedItem.dept_code;
        document.getElementById('Name').value = selectedItem.dept_name;
        document.getElementById('Type').value = selectedItem.dept_type;
        document.getElementById('Description').value = selectedItem.description;

        setButtonState();
      });

      theGrid.rowHeaders.columns.splice(0, 1);
      /*  new FlexGridContextMenu(theGrid);*/

    }


    //버튼 활성화 설정
    function setButtonState() {
      let pk = $('#id').val();
      $('#btnNew').prop('disabled', false);
      $('#btnSave').prop('disabled', false);
      if (pk) {
        $('#btnDel').prop('disabled', false);
      } else {
        $('#btnDel').prop('disabled', true);
      }
    }

    // 부서 목록 조회
    function searchMainData() {
      let keyword = $('#txtKeyword').val();

      $.ajax({
        url: '/api/definition/factory/read',
        type: 'GET',
        data: {
          'keyword': keyword,
          spjangcd: sessionStorage.getItem('spjangcd'),
        },
        async: false,
        success: function (result) {
          if (result.success) {
            grid_binding(result.data);
          } else {
            console.log("Error occurred");
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.error('Error fetching log_list data:', textStatus, errorThrown);

        }
      });

      $('#basicForm')[0].reset();
      $('#basicForm').find('#id').val('');

      $('#detail_box').find('input, select').each(function () {
        if (!$(this).is(':disabled')) {
          $(this).attr('disabled', 'disabled');
        }
      });

      setButtonState();
    }

    function grid_binding(data) {
      if (!Array.isArray(data)) {
        console.error('데이터가 배열 형식이 아닙니다:', data);
        return;
      }

      let menulogData = data.map(item => ({
        id: item.id,
        dept_code: item.dept_code,
        dept_name: item.dept_name,
        dept_type: item.dept_type,
        description: item.description
      }));

      if (typeof theGrid === 'undefined' || typeof viewdata === 'undefined') {
        console.error('theGrid 또는 viewdata가 정의되지 않았습니다.');
        return;
      }

      theGrid.columns.clear();
      theGrid.autoGenerateColumns = false;

      // columns 배열이 정의되어 있는지 확인
      if (typeof columns === 'undefined' || !Array.isArray(columns)) {
        console.error('columns 배열이 정의되지 않았습니다.');
        return;
      }

      columns.forEach(columnDef => {
        var col = new wijmo.grid.Column(columnDef);
        theGrid.columns.push(col);
      });

      viewdata = new wijmo.collections.CollectionView(menulogData);

      theGrid.itemsSource = viewdata;
      theGrid.refresh();
    }


    // 부서 정보 저장
    function saveData() {
      let url = '/api/definition/factory';

      let data = FormUtil.extractForm($('#basicForm'));

      // 필수입력 check routineCode Name Type
      if (!data.Code) {
        Alert.alert('', '코드를 입력해주세요.');
        $('#basicForm #Code').focus();
        return false;
      }
      else if (!data.Name) {
        Alert.alert('', '공장명을 입력해주세요.');
        $('#basicForm #Name').focus();
        return false;
      }

      data.spjangcd = sessionStorage.getItem('spjangcd');

      let fnSuccess = function (result) {
        if (result.success) {
          Alert.alert('', '저장되었습니다');
          searchMainData(); // 저장 후 데이터 갱신
        } else {
          Alert.alert('저장 실패', result.message);
          console.error('저장 실패:', result.message);
        }
      }
      AjaxUtil.postAsyncData(url + '/save', data, fnSuccess);

    }

    // 부서 정보 삭제
    function deleteDepart() {
      let url = '/api/definition/depart';
      let id = $('#basicForm').find('#id').val();
      let data = {id: id};
      let fnSuccess = function (res) {
        if (res.success) {
          Alert.alert('', '삭제되었습니다');
          searchMainData();
        } else {
          Alert.alert('삭제 실패', res.message);
          console.error('삭제 실패:', res.message);
        }

      }

      AjaxUtil.postAsyncData(url + '/delete', data, fnSuccess);
    }

    $(document.body).ready(function (e) {

      // 엔터키 검색
      $('#txtKeyword').on('keypress', function (e) {
        if (event.keyCode == 13) {
          searchMainData();
        }
      });

      // 검색버튼 클릭
      $('#btnSearch').click(function (e) {
        searchMainData();
      });

      // 신규버튼
      $('#btnNew').click(function (e) {

        $('#basicForm')[0].reset();
        $('#basicForm').find('#id').val('');

        $('#detail_box').find('input, select, textarea').each(function () {
          if ($(this).is(':disabled')) {
            $(this).removeAttr('disabled');
          }
        });

        setButtonState();
      });

      // 저장버튼
      $('#btnSave').click(function (e) {
        Alert.confirm('',
                '저장하시겠습니까?',
                function () {
                  saveData()
                },
                function () {
                }
        );
      });

      // 삭제버튼
      $('#btnDel').click(function (e) {
        Alert.confirm('',
                '삭제하시겠습니까?',
                function () {
                  deleteDepart()
                },
                function () {
                }
        );
      });

    });
  </script>

</th:block>

</html>