<html layout:decorate="~{layout_page}">
<head>
    <style>
        .wx210 {
            width: 210px !important;
        }

        .wx190 {
            width: 150px !important;
        }

    </style>
</head>
<th:block layout:fragment="content">
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>태그 그룹</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
                <li>공정 데이터</li>
                <li>태그 그룹</li>
            </ul>
        </div>
        <div style="display: flex; gap: 5px;">
            <section class="section" style="flex: 2;">
                <form id="searchForm" autocomplete="off">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    <label>
                                        태그그룹코드
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <input type="text" id="txtTagGrpCode" name="txtTagGrpCode">
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label>
                                        태그그룹명<span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <input type="text" id="txtTagGrpName" name="txtTagGrpName">
                                    </div>
                                </dd>
                            </dl>

                            <dl>
                                <dt>&nbsp;</dt>
                                <dd>
                                    <li>
                                        <a class="btn btn-delete" title="검색" id="btnSearch">
                                            <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                            <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                                            검색
                                        </a>
                                    </li>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </form>
                <div class="container-fluid">
                    <div id="theGrid" ></div>
                </div>
            </section>
            <section class="section" style="flex: 1; min-width: 0;">
                <div class="section-top">
                    <div class="search-wrap">
                        <h3>상세 정보</h3>
                    </div>
                    <div class="button-wrap">
                        <ul>
                            <li>
                                <a class="btn btn-excell" title="신규" id="btnNew">
                                    <img th:src="@{/images/icon/ico-plus.svg}" alt="신규 아이콘">
                                    신규
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-delete" title="삭제" id="btnDel">
                                    <img th:src="@{/images/icon/ico-delete.svg}" alt="삭제 아이콘">
                                    삭제
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-edit" title="저장" id="btnSave">
                                    <img th:src="@{/images/icon/ico-edit.svg}" alt="저장 아이콘">
                                    저장
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <form id="tagGroupForm" autocomplete="off">
                    <input type="hidden" id="id" name="id"/>
                    <div class="table-wrap" id="detail_box">
                        <table class="write-table">
                            <tbody>
                            <tr>
                                <th>
                                    <label>
                                        *태그그룹코드
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="tag_group_code" style="width: 100%" name="tag_group_code"
                                           disabled="disabled" required/>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>
                                        *태그그룹명
                                    </label>
                                </th>
                                <td>
                                    <input type="text" id="tag_group_name" style="width: 100%" name="tag_group_name"
                                           disabled="disabled" required/>
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <label>설명</label>
                                </th>
                                <td colspan="3">
                                    <textarea style="width: 100%" disabled="disabled" id="description"
                                              name="description"></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <!--        <div class="grid_box">-->

                <!--            <div class="h-640" data-ax5grid="sujuGrid" ></div>-->
                <!--        </div>-->
            </section>
        </div>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
    <script type="text/javascript">
        class TagGroupPage {
            constructor() {
                this.grid = null;
                this.base_url = '/api/definition/tag_group';
                this.viewData = new wijmo.collections.CollectionView();
                this.init();
            }

            init() {
                let _this = this;
                this.grid = new wijmo.grid.FlexGrid('#theGrid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true,
                    columns: [
                        {binding: 'tag_group_code', header: '태그그룹코드', width: '*', align: 'left'},
                        {binding: 'tag_group_name', header: '태그그룹명', width: '*', align: 'center'},
                        {binding: 'description', header: '비고', width: '*', align: 'left'},
                    ],
                    itemsSource: this.viewData,
                    formatItem: function (s, e) {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center'; // 헤더 텍스트 가운데 정렬
                        }
                    },
                });
                // 데이터 로드 후 초기 선택 상태 해제
                this.grid.loadedRows.addHandler(() => {
                    setTimeout(() => {
                        this.grid.select(-1, -1); // 선택 상태 초기화
                    }, 0); // 비동기로 처리하여 초기 선택 해제
                });
                let isInitialLoad = true; // 초기 상태 플래그

                this.grid.selectionChanged.addHandler((s, e) => {
                    if (isInitialLoad) {
                        isInitialLoad = false; // 초기 로드 이후 플래그 해제
                        return;
                    }

                    let selectedRowIndex = s.selection.row; // 선택된 행의 인덱스
                    if (selectedRowIndex >= 0) { // 유효한 행이 선택되었는지 확인
                        let selectedRowData = s.rows[selectedRowIndex].dataItem; // 선택된 행의 데이터

                        _this.showDetailTagGroup(selectedRowData.id);

                        console.log(`선택된 행 인덱스: ${selectedRowIndex}`);
                        console.log('선택된 행 데이터:', selectedRowData);

                    }
                });
                new FlexGridContextMenu(this.grid);
                this.grid.downloadFileName = '태그그룹';

                // 엔터키 검색
                $('#txtTagGrpCode').on('keypress', function (e) {
                    if (event.keyCode == 13) {
                        _this.searchMainData();
                    }
                });
                $('#txtTagGrpName').on('keypress', function (e) {
                    if (event.keyCode == 13) {
                        _this.searchMainData();
                    }
                });


            }

            // 태그그룹 목록 조회
            searchMainData() {
                let _this = this;
                let url = this.base_url + '/read';
                let param = {
                    'tag_group_code': $('#txtTagGrpCode').val(),
                    'tag_group_name': $('#txtTagGrpName').val()
                }

                let result = AjaxUtil.getSyncData(url, param);
                if (result != null) {
                    _this.viewData.sourceCollection = result.data;
                }

                $('#tagGroupForm')[0].reset();
                $('#tagGroupForm').find('#id').val('');

                $('#detail_box').find('input, select, textarea').each(function () {
                    if (!$(this).is(':disabled')) {
                        $(this).attr('disabled', 'disabled');
                    }
                });

            }

            // 태그그룹 상세정보 조회
            showDetailTagGroup(id) {
                let param = {'id': id};
                let url = this.base_url + '/detail';
                let result = AjaxUtil.getSyncData(url, param);

                if (result != null) {
                    FormUtil.BindDataForm(result.data, $('#tagGroupForm'));
                }
            }

            // 태그그룹 정보 저장
            saveTagGroup() {
                let _this = this;
                let validate = true;
                let $target = null;
                let url = this.base_url + '/save';

                //let data = $('#tagGroupForm').serialize();
                let data = FormUtil.extractForm($('#tagGroupForm'));


                let fnSuccess = function (res) {
                    if (!res.success) {
                        Alert.alert('', res.message);
                    } else {
                        Notify.success('저장되었습니다');
                        _this.searchMainData();
                    }
                }

                $('#detail_box').find('input, select, textarea').each(function () {
                    if ($(this).is(':required')) {
                        if (!$(this).val()) {
                            validate = false;
                            $target = $(this);
                            return false;
                        }
                    }
                });

                if (validate) {
                    AjaxUtil.postAsyncData(url, data, fnSuccess);
                } else {
                    Alert.alert('', '태그 그룹 코드와 태그 그룹 명을 \n 모두 입력해주세요.', function () {
                        $target.focus();
                    });
                }
            }

            // 태그그룹 정보 삭제
            deleteTagGroup() {
                let _this = this;
                let url = this.base_url + '/delete';
                let id = $('#tagGroupForm').find('#id').val();
                if (id === null || id === '' || id === undefined) {
                    Alert.alert('', '삭제할 태그그룹을 선택하세요.');
                    return;
                }
                let data = {id: id};
                let fnSuccess = function (res) {
                    if (res.success) {

                        Alert.alert('', '삭제되었습니다.');

                        _this.searchMainData();
                    } else {
                        Alert.alert('', res.message);
                    }
                }

                AjaxUtil.postAsyncData(url, data, fnSuccess);
            }

        }


        let page = null;

        $(document.body).ready(function (e) {
            page = new TagGroupPage();


            // 검색버튼
            $('#btnSearch').click(function (e) {
                page.searchMainData();
            });

            // 신규버튼
            $('#btnNew').click(function (e) {

                $('#tagGroupForm')[0].reset();
                $('#tagGroupForm').find('#id').val('');

                $('#detail_box').find('input, select, textarea').each(function () {
                    if ($(this).is(':disabled')) {
                        $(this).removeAttr('disabled');
                    }
                });

            });

            // 저장버튼
            $('#btnSave').click(function (e) {
                Alert.confirm('',
                    "저장하시겠습니까?",
                    function () {
                        page.saveTagGroup()
                    },
                    function () {
                    }
                );
            });

            // 삭제버튼
            $('#btnDel').click(function (e) {
                Alert.confirm('',
                    '삭제하시겠습니까?',
                    function () {
                        page.deleteTagGroup()
                    },
                    function () {
                    }
                );
            });

            page.searchMainData();
        });

    </script>
</th:block>
</html>