<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .wj-header {
            text-align: center !important;
        }
    </style>
</head>

<th:block layout:fragment="content">
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>단위 정보</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
                <li>기준정보</li>
                <li>단위정보</li>
            </ul>
        </div>

        <div style="display: flex; gap: 5px">
            <section class="section" style="width: 60%;">
                <div class="section-top">
                    <div class="search-wrap">
                        <dl>
                            <dt>
                                <label>단위명</label>
                            </dt>
                            <dd>
                                <div class="srch-box">
                                    <input type="text" class="form-control2" id="txtUnit" name="txtUnit">
                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt><span class="eq"></span></dt>
                            <dd>
                                <li>
                                    <a class="btn btn-delete" title="검색" id="btnSearch">
                                        <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                                        검색
                                    </a>
                                </li>
                            </dd>
                        </dl>
                    </div>
                </div> <!--//section-top end -->
                <div class="container-fluid">
                    <p id="selectedItem"></p>
                    <div id="theGrid" style=""></div>
                </div>
                <div class="btn-wrap">
                </div>
            </section>

            <section style="width: 40%;">
                <div class="section-top">
                    <div class="search-wrap">
                        <ul>
                            <li>
                                <!-- <a class="btn btn-excell" title="신규등록" id="btnNew" >
                                     <img th:src="@{/images/icon/ico-plus.svg}" alt="등록 아이콘">
                                     신규등록
                                 </a>-->
                                <button type="button" class="btn-excellt btn-default" id="btnNew" name="btnNew"
                                        style="height: 36px; width:115px;">
                                    <i class="fas fa-plus"></i>신규등록
                                </button>
                            </li>

                            <li>
                                <!-- <a class="btn btn-edit" id="btnSave" title="저장">
                                     <img th:src="@{/images/icon/ico-save.svg}" alt="저장 아이콘">
                                     저장
                                 </a>-->
                                <button type="button" class="btn-excellt btn-default y_write_auth" id="btnSave"
                                        style="float:none; height: 36px; width:115px;">
                                    <i class="fas fa-save"></i>저장
                                </button>
                            </li>

                            <li>
                                <!--  <a class="btn btn-delete" title="삭제" id="btnDel">
                                      <img th:src="@{/images/icon/ico-delete.svg}" alt="삭제 아이콘">
                                      삭제
                                  </a>-->
                                <button type="button" class="btn-delete btn-danger y_write_auth" id="btnDel"
                                        style="float:none; height: 36px; width:115px;"><i
                                        class="fas fa-trash"></i>삭제
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="table-wrap" style=" overflow-x: auto;">
                    <form id="unitForm">
                        <table>
                            <caption style="text-align: left; margin-bottom: 8px;">등록테이블</caption>
                            <colgroup>
                                <col class="wp20">
                                <col class="wp80">
                            </colgroup>
                            <input type="hidden" id="id" name="id"/>
                            <tbody>
                            <tr>
                                <th>
                                    <label for="name"><span class="eq">*</span>단위명</label>
                                </th>
                                <td >
                                    <input type="text" id="name" name="name" style="width: 100%;">
                                </td>

                            </tr>
                            <tr>
                                <th>
                                    <label for="piece_yn">낱개단위</label>
                                </th>
                                <td >
                                    <select type="text" id="piece_yn" name="pieceYN" style="width: 100%;">
                                        <option value="">No</option>
                                        <option value="Y">Yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="description"><span class="eq">*</span>설명</label>
                                </th>
                                <td >
                                    <input type="text" id="description" name="description" style="width: 100%;">
                                    <!--<textarea id="description" name="description"></textarea>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <!--//tab-wrap end-->
            </section>
        </div>
    </div> <!--//layout-contents end -->

    <footer style="margin-top: 24px;">
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>

</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;

        let columns = [
            {binding: 'id', header: 'id', width: 200, align: 'center', visible: false},
            {binding: 'name', header: '단위명', width: 200, align: 'center'},
            {binding: 'description', header: '설명', width: 250, align: 'center'},
            {binding: 'piece_yn', header: '낱개단위YN', width: 200, align: 'center'},
            {binding: '', header: '', width: "*", align: 'center'}
        ];

        document.readyState === 'complete' ? init() : window.onload = init;

        function init() {
            let data2 = [];
            let unit_name = $('#txtUnit').val();


            $.ajax({
                url: withCtx('/api/definition/unit/read'),
                type: 'GET',
                data: {
                    'unit_name': unit_name,
                    spjangcd: sessionStorage.getItem('spjangcd'),
                },
                async: false,
                success: function (data) {
                    data2 = data.data;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_count data:', textStatus, errorThrown);
                }
            })

            viewdata = new wijmo.collections.CollectionView(data2);

            theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: columns,
                isReadOnly: true,
                itemsSource: viewdata
            });

            theGrid.hostElement.addEventListener('dblclick', function (e) {
                let selectedItem = theGrid.selectedItems[0];

                document.getElementById('id').value = selectedItem.id;
                document.getElementById('name').value = selectedItem.name;
                document.getElementById('description').value = selectedItem.description;
                document.getElementById('piece_yn').value = selectedItem.piece_yn;

                setButtonState();

            });

            theGrid.rowHeaders.columns.splice(0, 1);
            /*  new FlexGridContextMenu(theGrid);*/

        }

        function setButtonState() {
            let pk = $('#id').val();
            $('#btnNew').prop('disabled', false);
            $('#btnSave').prop('disabled', false);
            if (pk) {
                $('#btnDel').prop('disabled', false);

                $('#unitForm input input').each(function () {
                    $(this).prop('disabled', false);
                });

                $('#unitForm textarea').each(function () {
                    $(this).prop('disabled', false);
                });

            } else {
                $('#btnDel').prop('disabled', true);
            }
        }


        function searchMainData() {

            let unit_name = $('#txtUnit').val();

            $.ajax({
                url: withCtx('/api/definition/unit/read'),
                type: 'GET',
                data: {
                    'unit_name': unit_name,
                    spjangcd: sessionStorage.getItem('spjangcd'),
                },
                success: function (result) {
                    if (result.success) {
                        grid_binding(result.data);
                    } else {
                        console.log("Error occurred");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);
                }
            });

            $('#unitForm')[0].reset();
            $('#description').text('');
            $('#unitForm').find('select, input, textarea').each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).attr('disabled', 'disabled');
                }
            });

            //_this.setButtonDisable(false, true, true);
            setButtonState();

        }

        function grid_binding(data) {

            let formattedData = data.map(item => ({
                name: item.name,
                description: item.description,
                piece_yn: item.piece_yn,

            }));

            theGrid.columns.clear();
            theGrid.autoGenerateColumns = false;

            columns.forEach(colDef => {
                let col = new wijmo.grid.Column(colDef);
                theGrid.columns.push(col);
            });

            viewdata = new wijmo.collections.CollectionView(formattedData);

            theGrid.itemsSource = viewdata;
            theGrid.refresh();

        }

        function saveUnit() {
            let url = '/api/definition/unit/save';
            //let url = '/api/definition/unit?action=save';

            //let data = $('#unitForm').serialize();
            let data = FormUtil.extractForm($('#unitForm'));

            // 필수입력 check routine
            if (!data.name) {
                Alert.alert('', '단위명을 입력해주세요.');
                $('#unitForm #name').focus();
                return false;
            } else if (!data.description) {
                Alert.alert('', '설명를 입력해주세요.');
                $('#unitForm #description').focus();
                return false;
            }

            data.spjangcd=sessionStorage.getItem('spjangcd');

            Alert.confirm('', '저장하시겠습니까?', function () {
                let fnSuccess = function (result) {
                    if (result.success) {
                        Alert.alert('', '저장되었습니다');
                        searchMainData(); // 저장 후 데이터 갱신
                    } else {
                        Alert.alert('저장 실패', result.message);
                        console.error('저장 실패:', result.message);
                    }
                };
                // 데이터 저장 요청
                AjaxUtil.postAsyncData(url, data, fnSuccess);
            });

        }

        function deleteUnit() {
            let url = '/api/definition/unit/delete';
            let id = $('#unitForm').find('#id').val();
            let data = {'id': id};

            Alert.confirm('', '삭제하시겠습니까?', function () {
                let fnSuccess = function (result) {
                    if (result.success) {
                        Alert.alert('', '삭제되었습니다');
                        searchMainData(); // 저장 후 데이터 갱신
                    } else {
                        Alert.alert('삭제 실패', result.message);
                        console.error('저장 실패:', result.message);
                    }
                };
                // 데이터 저장 요청
                AjaxUtil.postAsyncData(url, data, fnSuccess);
            });

        }

        $(document.body).ready(function (e) {
            setButtonState();

            // 검색버튼 클릭
            $('#btnSearch').click(function (e) {
                searchMainData();
            });

            // 엔터키 검색
            $('#txtUnit').on('keypress', function (e) {
                if (event.keyCode == 13) {
                    searchMainData();
                }
            });


            //신규버튼 클릭
            $('#btnNew').click(function (e) {

                $('#unitForm')[0].reset();
                $('#id').val('');
                $('#description').val('');

                $('#unitForm input, select').each(function () {
                    if ($(this).is(':disabled')) {
                        $(this).removeAttr('disabled');
                    }
                });

                $('#unitForm textarea').each(function () {
                    if ($(this).is(':disabled')) {
                        $(this).removeAttr('disabled');
                    }
                });
                //page.setButtonDisable(true, false, true);
                setButtonState();
            });

            //저장버튼 클릭
            $('#btnSave').click(function (e) {
                saveUnit();
            });

            //삭제버튼 클릭
            $('#btnDel').click(function (e) {
                deleteUnit();
            });

        });

    </script>
</th:block>

</html>