<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
<link href="/css/import.css" rel="stylesheet"/>
<link href="/resource/ax5ui/ax5ui.all.css" rel="stylesheet"/>
<style>
</style>
<th:block layout:fragment="content">

  <!--- (레이아웃) Contents 영역 -->
  <div class="layout-contents">
    <!-- Page Title -->
    <div class="page-title-wrap">
      <div class="left">
        <h2>결재 현황</h2>
        <a class="bookmark toggle" href="#" title="북마크">
          내메뉴
        </a>
      </div>
      <ul class="page-navi">
        <li><img alt="홈아이콘" th:src="@{/images/icon/ico-nav-home.svg}"></li>
        <li>결재 현황</li>
        <li>결재 현황</li>
      </ul>
    </div>
    <div class="tab-wrap">
      <div class="tab-contents">
        <!-- Section -->
        <section class="tab-item" id="tab1" style="height: 880px; margin-bottom: 10px">
          <div class="row" style="display: flex;">
            <!-- 왼쪽 섹션: 50% 차지 -->
            <section style="box-sizing: border-box; height: 800px; margin-right: 20px; border-radius: 10px; ">
              <div class="title-wrap">
                <h3>결재 현황</h3>
                <div class="btn-wrap">
                </div>
              </div>
              <div class="calendar-wrap">
                <div id="calendar"></div>
              </div>
            </section>
            <!-- 오른쪽 섹션을 감싸는 div -->
            <div style="flex-direction: column; width: 40%;">
              <!-- 위쪽 섹션 -->
              <section style=" box-sizing: border-box;">
                <div style="margin-bottom: 15px">
                  <h3 id="year-status">2024년 결재 현황</h3>
                </div>
                <div class="tab-contents">
                  <div class="row">
                    <div class="section-card-wrap" style="gap: 5px">
                      <section
                          class="fetchCard"
                          data-search-type="001"
                          style="background-color: #031B4B; color: #fff; flex: 0.5; margin-right: 5px; cursor: pointer; padding: 10px 10px;">
                        <div class="title">
                          <h3>결재대기</h3>
                        </div>
                        <div class="requestCnt"
                             style="font-size: 32px; font-weight: 700; text-align: right; margin: 9px 0;">
                          -<span class="small-unit" style=" font-size: 0.5em; opacity: 0.5;"> 건</span>
                        </div>
                      </section>
                      <section
                          class="fetchCard"
                          data-search-type="101"
                          style="background-color: #03428E; color: #fff; flex: 0.5; margin-right: 5px; cursor: pointer; padding: 10px 10px;">
                        <div class="title">
                          <h3>결재</h3>
                        </div>
                        <div class="checkCnt"
                             style="font-size: 32px; font-weight: 700; text-align: right; margin: 9px 0;">
                          -<span class="small-unit" style=" font-size: 0.5em; opacity: 0.5;"> 건</span>
                        </div>
                      </section>
                      <section
                          class="fetchCard"
                          data-search-type="131"
                          style="background-color: #3069B3; color: #fff; flex: 0.5; margin-right: 5px; cursor: pointer; padding: 10px 10px;">
                        <div class="title">
                          <h3>반려</h3>
                        </div>
                        <div class="estimateCnt"
                             style="font-size: 32px; font-weight: 700; text-align: right; margin: 9px 0;">
                          -<span class="small-unit" style=" font-size: 0.5em; opacity: 0.5;"> 건</span>
                        </div>
                      </section>
                      <section
                          class="fetchCard"
                          data-search-type="201"
                          style="background-color: #C7DFF4; color: #031B4B; flex: 0.5; margin-right: 5px; cursor: pointer; padding: 10px 10px;">
                        <div class="title">
                          <h3>보류</h3>
                        </div>
                        <div class="produceCnt"
                             style="font-size: 32px; font-weight: 700; text-align: right; margin: 9px 0;">
                          -<span class="small-unit" style=" font-size: 0.5em; opacity: 0.5;"> 건</span>
                        </div>
                      </section>
                      <section class="fetchCard"
                               data-search-type="0"
                               style="flex: 0.5; margin-right: 5px; cursor: pointer; padding: 10px 10px;">
                        <div class="title">
                          <h3>완료</h3>
                        </div>
                        <div class="deliveryCnt"
                             style="font-size: 32px; font-weight: 700; text-align: right; margin: 9px 0;">
                          -<span class="small-unit" style=" font-size: 0.5em; opacity: 0.5;"> 건</span>
                        </div>
                      </section>
                    </div> <!--//main-card-wrap end -->
                  </div>
                </div>
              </section>

              <!-- 아래쪽 섹션 (넓게 설정) -->
              <section style="flex: 1; box-sizing: border-box; margin-top: 20px;">
                <div class="tab-item-sub" id="tab1_2">
                  <div class="section-top" style="margin-top: 10px;">
                    <div class="search-wrap">
                      <dl>
                        <dt>
                          작성일자<span class="eq">*</span>
                        </dt>
                        <dd>
                          <ul class="date-box">
                            <li>
                              <input id="startDate2" name="startDate" type="date">
                              <label class="hide" for="startDate2">시작일</label>
                            </li>
                            <li>
                              <input id="endDate2" name="endDate" type="date">
                              <label class="hide" for="endDate2">종료일</label>
                            </li>
                            <li>
                              <a class="btn btn-delete" id="btn-srch" onclick="fetchListData();initDatas();" title="검색">
                                <img alt="검색 아이콘" th:src="@{/images/icon/btn-srch.svg}">
                                검색
                              </a>
                            </li>
                          </ul>
                        </dd>
                      </dl>
                    </div>
                  </div> <!--//section-top end -->
                  <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
                    <!-- 그리드 영역 -->
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div id="theGrid" style="width: 100%; height: 400px;"></div>
                    </div>
                  </div>

                </div>
              </section>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div> <!--//tab-contens end-->
  <footer style="margin-top:5px;">
    <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
  </footer>
</th:block>
<th:block layout:fragment="scripts">
  <script src="/resource/windowContainer/js/html5sortable.js" type="text/javascript"></script>
  <script src="/js/nth-tabs.js" type="text/javascript"></script>
  <script type="text/javascript">
   class ApprovalStatusPage {
    constructor() {
     this.grid = null;
     this.calendar = null;
     this.viewData = new wijmo.collections.CollectionView();
     this.init();
    }

    init() {
     let _this = this;

     _this.grid = new wijmo.grid.FlexGrid('#theGrid', {
      headersVisibility: wijmo.grid.HeadersVisibility.Column,
      selectionMode: wijmo.grid.SelectionMode.Cell,
      autoGenerateColumns: false,
      showMarquee: true,
      allowSorting: 'MultiColumn',
      isReadOnly: true,
      imeEnabled: true,
      columns: [
       {binding: 'papernm', header: '문  서', align: 'center', width: '*', minWidth: 100},
       {binding: 'repodate', header: '작성일자', align: 'center', width: '*', minWidth: 115},
       {binding: 'appnum', header: '문서번호', align: 'left', width: '*', minWidth: 170},
       {binding: 'repopernm', header: '작성자명', align: 'center', width: '*', minWidth: 81},
       {binding: 'divinm', header: '부서명', align: 'center', width: '*', minWidth: 72},
       {binding: 'title', header: '제  목', align: 'center', width: '*', minWidth: 85},
       {binding: 'appgubun', header: '결재상태', align: 'center', width: '*', minWidth: 82}
      ],
      itemsSource: _this.viewData
     });

     _this.grid.formatItem.addHandler((s, e) => {
      if (e.panel === s.columnHeaders) {
       e.cell.style.textAlign = 'center';
      }
     });

     _this.grid.rowHeaders.columns.splice(0, 1);
     new FlexGridContextMenu(_this.grid);
     _this.grid.downloadFileName = '결재 현황(캘린더)';
    } // init

    /* 그리드 데이터 조회 ==========================================*/
    fetchListData(searchTypeValue) {
     let _this = this;
     const emptyRowsCount = 8;

     let data = {
      'search_startDate': $('#startDate2').val(),
      'search_endDate': $('#endDate2').val(),
      'search_type': searchTypeValue
     };

     let fnsuccess = function (res) {
      let data2 = res.data || [];

      while (data2.length < emptyRowsCount) {
       data2.push({appgubun: '', repodate: '', title: '', appdate: ''});
      }

      _this.viewData.sourceCollection = data2;
     };

     AjaxUtil.getAsyncData('/api/approval_status/readCalenderGrid', data, fnsuccess);
    }

    /* 카드 카운트 조회 ============================================*/
    initDatas() {
     const cntUnit = '<span class="small-unit" style="font-size:0.5em;opacity:0.5;"> 건</span>';

     $('.requestCnt, .checkCnt, .estimateCnt, .produceCnt, .deliveryCnt, .cancelCnt')
     .html(0 + cntUnit);

     let data = {
      'search_startDate': $('#startDate2').val(),
      'search_endDate': $('#endDate2').val()
     };

     let fnsuccess = function (res) {
      let list = res.data || [];
      if (list.length === 0) return;

      const item = list[0]; // 단일 행

      const waitCnt = item.appgubun1 || 0; // 결재대기 (001)
      const approveCnt = item.appgubun2 || 0; // 결재     (101)
      const rejectCnt = item.appgubun3 || 0; // 반려     (131)
      const holdCnt = item.appgubun4 || 0; // 보류     (201)
      const totalCnt = approveCnt + rejectCnt + holdCnt; // 완료

      $('.requestCnt').html(waitCnt + cntUnit);
      $('.checkCnt').html(approveCnt + cntUnit);
      $('.estimateCnt').html(rejectCnt + cntUnit);
      $('.produceCnt').html(holdCnt + cntUnit);
      $('.deliveryCnt').html(totalCnt + cntUnit);
     };

     AjaxUtil.getAsyncData('/api/approval_status/initDatas', data, fnsuccess);
    }

    /* 캘린더 =====================================================*/
    initCalendar() {
     let _this = this;
     const calendarEl = document.getElementById('calendar');
     if (!calendarEl) return;

     _this.calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'ko',
      headerToolbar: {
       left: 'prev,next today',
       center: 'title',
       right: 'dayGridMonth',
      },
      initialView: 'dayGridMonth',
      height: 714,
      dayHeaderFormat: {weekday: 'short'},
      views: {
       dayGridMonth: {
        dayCellContent: (arg) => arg.dayNumberText.replace('일', '')
       }
      },
      dateClick: (info) => {
       $('#startDate2').val(info.dateStr);
       $('#endDate2').val(info.dateStr);
       _this.fetchListData();
       _this.initDatas();
      },
      // ✅ 월 이동 시마다 해당 월 데이터만 조회
      datesSet: (info) => {
       _this.loadCalendarEvents(info.startStr, info.endStr);
      },
      events: []
     });

     // 공휴일 로드 (공휴일은 1년치 유지)
     _this.fetchHolidays().then(holidays => {
      holidays.forEach(holiday => {
       _this.calendar.addEvent({
        title: holiday.name,
        start: holiday.date,
        backgroundColor: '#EC193A',
        borderColor: '#EC193A',
        textColor: 'white'
       });
      });
      setTimeout(() => _this.calendar.render(), 300);
     }).catch(err => console.error('공휴일 데이터를 가져오는 데 실패했습니다:', err));

     _this.calendar.render();
    }

    // ✅ 월별 결재현황 로드
    loadCalendarEvents(startStr, endStr) {
     let _this = this;

     // 기존 결재현황 이벤트만 제거 (공휴일은 유지)
     _this.calendar.getEvents().forEach(event => {
      if (event.extendedProps.type === 'approval') {
       event.remove();
      }
     });

     let data = {
      'search_startDate': startStr,
      'search_endDate': endStr
     };

     let fnsuccess = function (res) {
      const groupedEvents = {};

      (res.data || []).forEach(({repodate: date, appgubun: name}) => {
       if (!groupedEvents[date]) groupedEvents[date] = {};
       groupedEvents[date][name] = (groupedEvents[date][name] || 0) + 1;
      });

      Object.keys(groupedEvents).forEach(date => {
       Object.keys(groupedEvents[date]).forEach(name => {
        const count = groupedEvents[date][name];
        const eventColor = _this.getEventColor(name);
        _this.calendar.addEvent({
         title: count > 1 ? `${name} (${count})` : name,
         start: date,
         backgroundColor: eventColor.bg,
         borderColor: eventColor.border,
         textColor: eventColor.text,
         extendedProps: {type: 'approval'} // ✅ 공휴일과 구분용
        });
       });
      });
     };

     AjaxUtil.getAsyncData('/api/approval_status/readCalenderGrid2', data, fnsuccess);
    }

    async fetchHolidays() {
     let _this = this;
     const currentYear = new Date().getFullYear();
     const holidays = [];
     for (const year of [currentYear - 1, currentYear, currentYear + 1]) {
      holidays.push(...await _this.fetchHolidaysForYear(year));
     }
     return holidays;
    }

    async fetchHolidaysForYear(year) {
     return new Promise((resolve, reject) => {
      const xhr = new XMLHttpRequest();
      const url = 'http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo';
      let queryParams = '?' + encodeURIComponent('serviceKey') + '=R3P3syhq6qRP0cz8mbV2J5t%2B32WwaSN9sH8ZW4k59oKAU3Ze0WvcljMrN36OJqxs38%2F780hMD4QfhCiDZQNUyA%3D%3D';
      queryParams += '&' + encodeURIComponent('solYear') + '=' + encodeURIComponent(year);
      queryParams += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('30');

      xhr.open('GET', url + queryParams);
      xhr.onreadystatechange = function () {
       if (this.readyState !== 4) return;
       if (this.status === 200) {
        const xmlDoc = new DOMParser().parseFromString(this.responseText, "text/xml");
        const items = xmlDoc.getElementsByTagName("item");
        const holidays = [];
        for (let i = 0; i < items.length; i++) {
         holidays.push({
          date: items[i].getElementsByTagName("locdate")[0].textContent,
          name: items[i].getElementsByTagName("dateName")[0].textContent
         });
        }
        resolve(holidays);
       } else {
        console.error('오류 발생. HTTP 상태 코드:', this.status);
        reject(this.status);
       }
      };
      xhr.send();
     });
    }

    getEventColor(name) {
     const colors = {
      "결재대기": {bg: "#031B4B", border: "#031B4B", text: "white"},
      "결재": {bg: "#03428E", border: "#03428E", text: "white"},
      "보류": {bg: "#3069B3", border: "#3069B3", text: "white"},
      "반려": {bg: "#C7DFF4", border: "rgba(2,165,255,0.07)", text: "black"},
     };
     return colors[name] || {bg: "grey", border: "grey", text: "white"};
    }

   } // class

   /* 페이지 진입점 ===============================================*/

   let page = null;

   $(document).ready(function (e) {

    page = new ApprovalStatusPage();

    // 날짜 초기화
    const today = new Date();
    const year = today.getFullYear();
    const month = today.getMonth();

    const startOfMonth = new Date(year, month, 1);
    const endOfMonth = new Date(year, month + 1, 0);

    const formatDate = (date) => {
     const yyyy = date.getFullYear();
     const mm = String(date.getMonth() + 1).padStart(2, '0');
     const dd = String(date.getDate()).padStart(2, '0');
     return `${yyyy}-${mm}-${dd}`;
    };

    $('#startDate2').val(formatDate(startOfMonth));
    $('#endDate2').val(formatDate(endOfMonth));

    // 연도 표시
    document.getElementById('year-status').innerText = `${new Date().getFullYear()}년 결재 현황`;

    // 캘린더 초기화
    page.initCalendar();

    // 데이터 조회
    page.fetchListData();
    page.initDatas();

    // 카드 클릭 이벤트
    $('.fetchCard').on('click', function () {
     const searchTypeValue = $(this).data('search-type');
     page.fetchListData(searchTypeValue);
    });

    // 검색 버튼
    $('#btn-srch').on('click', function () {
     page.fetchListData();
     page.initDatas();
    });

   });
  </script>
</th:block>
</html>

