<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
  <style>
      .grid-guide-box {
          background: #eef3ff;
          border-left: 4px solid #2f5cff;
          padding: 6px 10px;
          font-size: 13px;
          margin-bottom: 6px;
          color: #333;
      }
  </style>
  <div class="layout-contents">
    <div class="page-title-wrap">
      <div class="left">
        <h2>관별원장</h2>
        <a class="bookmark toggle" title="북마크">
          내 메뉴
        </a>
      </div>
      <ul class="page-navi">
        <li><img alt="홈아이콘" th:src="@{/images/icon/ico-nav-home.svg}"></li>
        <li>장부출력</li>
        <li>관별원장</li>
      </ul>
    </div>
    <div class="tab-wrap">
      <ul class="tab-links">
        <li>
          <a href="#tab1" title="집계 내역">집계 내역</a>
        </li>
        <li>
          <a href="#tab2" title="보통 예금">보통예금</a>
        </li>
        <li>
          <a href="#tab3" title="전표 등록">상세 내역</a>
        </li>
        <li>
          <a href="#tab4" title="전표 등록">사업구분 - 사업별</a>
        </li>
        <li>
          <a href="#tab5" title="전표 등록">상세내역</a>
        </li>
      </ul>
      <div class="tab-contents">
        <!--집계 내역-->
        <section class="tab-item" id="tab1">
          <div class="section-top">
            <div class="search-wrap">
              <dl>
                <dt>
                  <label>
                    기준일자<span class="eq"></span>
                  </label>
                </dt>
                <dd>
                  <div class="srch-box">
                    <input id="searchfrdate1" name="searchfrdate1" type="date"/>
                    <span class="slow_sign">~</span>
                    <input id="searchtodate1" name="searchtodate1" type="date"/>
                  </div>
                </dd>
              </dl>
              <dl>
                <dt>
                  <label>
                    계정과목
                  </label>
                </dt>
                <dd>
                  <input class="form-control2" id="accnm1" name="accnm1" placeholder="계정과목 (엔터로 검색)" />
                  <input type="hidden" id="acccd1" name="acccd1" />
                </dd>
              </dl>

              <dl>
                <dt>
                  <label>
                    재원
                  </label>
                </dt>
                <dd>
                  <select class="form-control2" id="mssec1" name="mssec1">
                  </select>
                </dd>
              </dl>

              <dl>
                <dt>&nbsp;</dt>
                <dd>
                  <li>
                    <button class="btn btn-delete" id="btnSearch1" title="검색" type="button">
                      <img alt="검색 아이콘" th:src="@{/images/icon/btn-srch.svg}">
                      검색
                    </button>
                  </li>
                </dd>
              </dl>

            </div>
            <div class="button-wrap">
              <ul>
                <li class="right_align rpt" style="margin-right: 5px">
                  <a class="btn btn-edit" id="btnSlipPrint" title="전표출력">
                    <img alt="추가 아이콘" th:src="@{/images/icon/ico-edit.svg}">
                    전표 출력
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="grid-guide-box">
            ※ 단축키 조회:F4
          </div>
          <div class="grid_box" id="divCategorySummary">
            <div id="theGrid_category_summary" style="height: 540px;"></div>
          </div>
        </section>
        <!--보통 예금 -->
        <section class="tab-item" id="tab2">
          <div class="section-top">
            <div class="search-wrap">
              <dl>
                <dt>
                  <label>
                    기준일자<span class="eq"></span>
                  </label>
                </dt>
                <dd>
                  <div class="srch-box">
                    <input id="searchfrdate2" name="searchfrdate2" type="date"/>
                    <span class="slow_sign">~</span>
                    <input id="searchtodate2" name="searchtodate2" type="date"/>
                  </div>
                </dd>
              </dl>
              <dl>
                <dt>
                  <label>
                    계정과목
                  </label>
                </dt>
                <dd>
                  <input class="form-control2" id="accnm2" name="accnm2" placeholder="계정과목 (엔터로 검색)" />
                  <input type="hidden" id="acccd2" name="acccd2" />
                </dd>
              </dl>

              <dl>
                <dt>
                  <label>
                    재원
                  </label>
                </dt>
                <dd>
                  <select class="form-control2" id="mssec2" name="mssec2">
                  </select>
                </dd>
              </dl>

              <dl>
                <dt>&nbsp;</dt>
                <dd>
                  <li>
                    <button class="btn btn-delete" id="btnSearch2" title="검색" type="button">
                      <img alt="검색 아이콘" th:src="@{/images/icon/btn-srch.svg}">
                      검색
                    </button>
                  </li>
                </dd>
              </dl>

            </div>
          </div>
          <div class="grid-guide-box">
            ※ 단축키 조회:F4
          </div>
          <div class="grid_box" id="divBankDeposit">
            <div id="theGrid_bank_deposit" style="height: 540px;"></div>
          </div>
        </section>

        <!-- 상세내역 -->
        <section class="tab-item" id="tab3">
          <div class="section-top">
            <div class="search-wrap">
              <dl>
                <dt>
                  <label>
                    기준일자<span class="eq"></span>
                  </label>
                </dt>
                <dd>
                  <div class="srch-box">
                    <input id="searchfrdate3" name="searchfrdate3" type="date"/>
                    <span class="slow_sign">~</span>
                    <input id="searchtodate3" name="searchtodate3" type="date"/>
                  </div>
                </dd>
              </dl>
              <dl>
                <dt>
                  <label>
                    계정과목
                  </label>
                </dt>
                <dd>
                  <input class="form-control2" id="accnm3" name="accnm3" placeholder="계정과목 (엔터로 검색)" />
                  <input type="hidden" id="acccd3" name="acccd3" />
                </dd>
              </dl>

              <dl>
                <dt>
                  <label>
                    재원
                  </label>
                </dt>
                <dd>
                  <select class="form-control2" id="mssec3" name="mssec3">
                  </select>
                </dd>
              </dl>

              <dl>
                <dt>&nbsp;</dt>
                <dd>
                  <li>
                    <button class="btn btn-delete" id="btnSearch3" title="검색" type="button">
                      <img alt="검색 아이콘" th:src="@{/images/icon/btn-srch.svg}">
                      검색
                    </button>
                  </li>
                </dd>
              </dl>

            </div>
          </div>
          <div class="grid-guide-box">
            ※ 더블 클릭 하시면 전표 팝업이 열립니다.
          </div>
          <div class="grid_box" id="divDetail">
            <div id="theGrid_detail" style="height: 540px;"></div>
          </div>
        </section>


        <!-- 상세내역 -->
        <section class="tab-item" id="tab4">
          <div class="section-top">
            <div class="search-wrap">
              <dl>
                <dt>
                  <label>
                    기준일자<span class="eq"></span>
                  </label>
                </dt>
                <dd>
                  <div class="srch-box">
                    <input id="searchfrdate4" name="searchfrdate4" type="date"/>
                    <span class="slow_sign">~</span>
                    <input id="searchtodate4" name="searchtodate4" type="date"/>
                  </div>
                </dd>
              </dl>
              <dl>
                <dt>
                  <label>
                    계정과목
                  </label>
                </dt>
                <dd>
                  <input class="form-control2" id="accnm4" name="accnm4" placeholder="계정과목 (엔터로 검색)" />
                  <input type="hidden" id="acccd4" name="acccd4" />
                </dd>
              </dl>

              <dl>
                <dt>
                  <label>
                    재원
                  </label>
                </dt>
                <dd>
                  <select class="form-control2" id="mssec4" name="mssec4">
                  </select>
                </dd>
              </dl>

              <dl>
                <dt>&nbsp;</dt>
                <dd>
                  <li>
                    <button class="btn btn-delete" id="btnSearch4" title="검색" type="button">
                      <img alt="검색 아이콘" th:src="@{/images/icon/btn-srch.svg}">
                      검색
                    </button>
                  </li>
                </dd>
              </dl>

            </div>
          </div>
          <div class="grid_box" id="divBusiness">
            <div id="theGrid_business" style="height: 540px;"></div>
          </div>
        </section>

        <!-- 상세내역 (tab5) -->
        <section class="tab-item" id="tab5">
          <div class="section-top">
            <div class="search-wrap">
              <dl>
                <dt>
                  <label>기준일자<span class="eq"></span></label>
                </dt>
                <dd>
                  <div class="srch-box">
                    <input id="searchfrdate5" name="searchfrdate5" type="date"/>
                    <span class="slow_sign">~</span>
                    <input id="searchtodate5" name="searchtodate5" type="date"/>
                  </div>
                </dd>
              </dl>
              <dl>
                <dt><label>계정과목</label></dt>
                <!-- tab5 수정 -->
                <dd>
                  <input class="form-control2" id="accnm5" name="accnm5" placeholder="계정과목 (엔터로 검색)" />
                  <input type="hidden" id="acccd5" name="acccd5" />
                </dd>
              </dl>
              <dl>
                <dt><label>재원</label></dt>
                <dd>
                  <select class="form-control2" id="mssec5" name="mssec5"></select>
                </dd>
              </dl>
              <dl>
                <dt>&nbsp;</dt>
                <dd>
                  <li>
                    <button class="btn btn-delete" id="btnSearch5" title="검색" type="button">
                      <img alt="검색 아이콘" th:src="@{/images/icon/btn-srch.svg}">
                      검색
                    </button>
                  </li>
                </dd>
              </dl>
            </div>
          </div>
          <div class="grid-guide-box">
            ※ 단축키 조회:F4
          </div>
          <div class="grid_box" id="divDetail2">
            <div id="theGrid_detail2" style="height: 540px;"></div>
          </div>
        </section>

      </div>
    </div>
  </div>

  <!--사업 팝업-->
  <script id="businmTemplate" type="text/x-tmpl">
    <div class="content_wrap popup">
        <section class="section">
            <div id="BusinessGrid" style="height:350px; display:block;"></div>
        </section>
    </div>
  </script>

  <!-- 관명 팝업 -->
  <script id="accnmTemplate" type="text/x-tmpl">
    <div class="content_wrap popup">
        <section class="section">
            <div id="AccGrid" style="height:350px; display:block;"></div>
        </section>
    </div>
  </script>

  <!-- 항명 팝업 -->
  <script id="it1Template" type="text/x-tmpl">
    <div class="content_wrap popup">
        <section class="section">
            <div id="It1Grid" style="height:350px; display:block;"></div>
        </section>
    </div>
  </script>

  <!-- 목명 팝업 -->
  <script id="it2Template" type="text/x-tmpl">
    <div class="content_wrap popup">
        <section class="section">
            <div id="It2Grid" style="height:350px; display:block;"></div>
        </section>
    </div>
  </script>

  <!-- 재원 팝업 -->
  <script id="mssecTemplate" type="text/x-tmpl">
    <div class="content_wrap popup">
      <section class="section">
        <div id="MssecGrid" style="height:300px; display:block;"></div>
      </section>
    </div>
  </script>

</th:block>
<th:block layout:fragment="scripts">
  <th:block th:replace="common/ax5_uploader :: ax5_uploader"></th:block>
  <th:block th:replace="common/popup_company.html :: popup_company"></th:block>
  <th:block th:replace="common/popup_account :: popup_account" />
  <script th:src="@{/js/cycle/AccountInputHandler.js}"></script>
  <th:block th:replace="common/popup_card :: popup_card" />
  <script th:src="@{/js/cycle/CardInputHandler.js}"></script>
  <script type="text/javascript">
   class CategoryLedgerPage {
    constructor() {
     this.url = '/api/ledger/CategoryLedger';
     this.entry_url = '/api/account_management/slip_entry'
     this.summaryGrid = null;                 // 집계내역(tab1)
     this.depositGrid = null;                 // 보통예금(tab2)
     this.summaryView = new wijmo.collections.CollectionView();
     this.depositView = new wijmo.collections.CollectionView();
     this.detailGrid  = null;                  // 상세내역(tab3)
     this.businessGrid2 = null;                // 사업구분-사업별(tab4)
     this.detailView   = new wijmo.collections.CollectionView();
     this.businessView = new wijmo.collections.CollectionView();
     this.detail2Grid  = null;                 // 상세내역2(tab5)
     this.detail2View  = new wijmo.collections.CollectionView();
     this.viewData = new wijmo.collections.CollectionView();
     this.mssecOptions = null;
     this.init();
    }

    init() {
     let _this = this;

     // ── 집계내역 그리드 (tab1) ──
     _this.summaryGrid = new wijmo.grid.FlexGrid('#theGrid_category_summary', {
      headersVisibility: wijmo.grid.HeadersVisibility.Column,
      autoGenerateColumns: false,
      showMarquee: true,
      allowSorting: 'MultiColumn',
      selectionMode: wijmo.grid.SelectionMode.Cell,
      isReadOnly: false,
      imeEnabled: true,
      frozenColumns: 2,
      formatItem: (s, e) => {
       if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
        e.cell.style.textAlign = 'center';
       }
      },
      columns: [
       {binding: 'acccd',  header: '계좌코드', width: 100, align: 'center', isReadOnly: true},
       {binding: 'accnm',  header: '계정과목', width: 250, align: 'center', isReadOnly: true},
       {binding: 'bfamt',  header: '전잔액',   width: 200, align: 'center', isReadOnly: true},
       {binding: 'dramt',  header: '차변금액', width: 200, align: 'center', isReadOnly: true},
       {binding: 'cramt',  header: '대변금액', width: 200, align: 'center', isReadOnly: true},
       {binding: 'balamt', header: '잔액',     width: 200, align: 'center', isReadOnly: true},
      ],
      itemsSource: this.summaryView,           // ← 전용 view
     });
     new FlexGridContextMenu(_this.summaryGrid);
     _this.summaryGrid.downloadFileName = '집계내역';

     _this.summaryGrid.columnFooters.rows.push(new wijmo.grid.GroupRow());
     let sIdx = _this.summaryGrid.columns.findIndex(c => c.binding === 'acccd');
     if (sIdx > -1) _this.summaryGrid.columnFooters.setCellData(0, sIdx, '합계');
     ['bfamt', 'dramt', 'cramt', 'balamt'].forEach(b => {
      const col = _this.summaryGrid.columns.getColumn(b);
      if (col) col.aggregate = wijmo.Aggregate.Sum;
     });

     // ── 보통예금 그리드 (tab2) ──
     _this.depositGrid = new wijmo.grid.FlexGrid('#theGrid_bank_deposit', {
      headersVisibility: wijmo.grid.HeadersVisibility.Column,
      autoGenerateColumns: false,
      showMarquee: true,
      allowSorting: 'MultiColumn',
      selectionMode: wijmo.grid.SelectionMode.Cell,
      isReadOnly: false,
      imeEnabled: true,
      frozenColumns: 2,
      formatItem: (s, e) => {
       if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
        e.cell.style.textAlign = 'center';
       }
      },
      columns: [
       {binding: 'acccd',  header: '계좌코드', width: 100, align: 'center', isReadOnly: true},
       {binding: 'accnm',  header: '계정과목', width: 250, align: 'center', isReadOnly: true},
       {binding: 'summy',  header: '적요',     width: 200, align: 'center', isReadOnly: true},
       {binding: 'yymmdd', header: '전표일자', width: 200, align: 'center', isReadOnly: true},
       {binding: 'dramt',  header: '차변금액', width: 200, align: 'center', isReadOnly: true},
       {binding: 'cramt',  header: '대변금액', width: 200, align: 'center', isReadOnly: true},
       {binding: 'balamt', header: '잔액',     width: 200, align: 'center', isReadOnly: true},
      ],
      itemsSource: this.depositView,           // ← 전용 view
     });
     new FlexGridContextMenu(_this.depositGrid);
     _this.depositGrid.downloadFileName = '보통예금 목록';

     _this.depositGrid.columnFooters.rows.push(new wijmo.grid.GroupRow());
     let dIdx = _this.depositGrid.columns.findIndex(c => c.binding === 'acccd');
     if (dIdx > -1) _this.depositGrid.columnFooters.setCellData(0, dIdx, '합계');
     ['dramt', 'cramt', 'balamt'].forEach(b => {     // tab2엔 bfamt 없음
      const col = _this.depositGrid.columns.getColumn(b);
      if (col) col.aggregate = wijmo.Aggregate.Sum;
     });

     // ── 상세내역 그리드 (tab3) ──
     _this.detailGrid = new wijmo.grid.FlexGrid('#theGrid_detail', {
      headersVisibility: wijmo.grid.HeadersVisibility.Column,
      autoGenerateColumns: false,
      showMarquee: true,
      allowSorting: 'MultiColumn',
      selectionMode: wijmo.grid.SelectionMode.Row,
      isReadOnly: true,
      frozenColumns: 2,
      formatItem: (s, e) => {
       if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
        e.cell.style.textAlign = 'center';
       }
      },
      columns: [
       {binding: 'yymmdd', header: '전표일자', width: 110, align: 'center'},
       {binding: 'acccd',  header: '계좌코드', width: 100, align: 'center'},
       {binding: 'accnm',  header: '계정과목', width: 200, align: 'center'},
       {binding: 'summy',  header: '적요',     width: '*', align: 'left'},
       {binding: 'dramt',  header: '차변금액', width: 150, align: 'right'},
       {binding: 'cramt',  header: '대변금액', width: 150, align: 'right'},
       {binding: 'balamt', header: '잔액',     width: 150, align: 'right'},
      ],
      itemsSource: this.detailView,
     });
     new FlexGridContextMenu(_this.detailGrid);
     _this.detailGrid.downloadFileName = '상세내역';

     _this.detailGrid.columnFooters.rows.push(new wijmo.grid.GroupRow());
     let dtIdx = _this.detailGrid.columns.findIndex(c => c.binding === 'yymmdd');
     if (dtIdx > -1) _this.detailGrid.columnFooters.setCellData(0, dtIdx, '합계');
     ['dramt', 'cramt', 'balamt'].forEach(b => {
      const col = _this.detailGrid.columns.getColumn(b);
      if (col) col.aggregate = wijmo.Aggregate.Sum;
     });

// 더블클릭 → 전표 팝업 (tab3 안내문 반영)
     _this.detailGrid.hostElement.addEventListener('dblclick', function (e) {
      const ht = _this.detailGrid.hitTest(e);
      if (ht.cellType === wijmo.grid.CellType.Cell) {
       const item = _this.detailGrid.selectedItems[0];
       if (item) _this.openSlipPopup(item);   // 전표 팝업 함수는 별도 구현/연결
      }
     });

// ── 사업구분-사업별 그리드 (tab4) ──
     _this.businessGrid2 = new wijmo.grid.FlexGrid('#theGrid_business', {
      headersVisibility: wijmo.grid.HeadersVisibility.Column,
      autoGenerateColumns: false,
      showMarquee: true,
      allowSorting: 'MultiColumn',
      selectionMode: wijmo.grid.SelectionMode.Cell,
      isReadOnly: true,
      frozenColumns: 2,
      formatItem: (s, e) => {
       if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
        e.cell.style.textAlign = 'center';
       }
      },
      columns: [
       {binding: 'buiscd', header: '사업코드', width: 100, align: 'center'},
       {binding: 'busim',  header: '사업명',   width: 250, align: 'left'},
       {binding: 'acccd',  header: '계좌코드', width: 100, align: 'center'},
       {binding: 'accnm',  header: '계정과목', width: 200, align: 'center'},
       {binding: 'dramt',  header: '차변금액', width: 150, align: 'right'},
       {binding: 'cramt',  header: '대변금액', width: 150, align: 'right'},
       {binding: 'balamt', header: '잔액',     width: '*', align: 'right'},
      ],
      itemsSource: this.businessView,
     });
     new FlexGridContextMenu(_this.businessGrid2);
     _this.businessGrid2.downloadFileName = '사업구분-사업별';

     _this.businessGrid2.columnFooters.rows.push(new wijmo.grid.GroupRow());
     let bzIdx = _this.businessGrid2.columns.findIndex(c => c.binding === 'buiscd');
     if (bzIdx > -1) _this.businessGrid2.columnFooters.setCellData(0, bzIdx, '합계');
     ['dramt', 'cramt', 'balamt'].forEach(b => {
      const col = _this.businessGrid2.columns.getColumn(b);
      if (col) col.aggregate = wijmo.Aggregate.Sum;
     });


     // ── 상세내역 그리드 (tab5) ──
     _this.detail2Grid = new wijmo.grid.FlexGrid('#theGrid_detail2', {
      headersVisibility: wijmo.grid.HeadersVisibility.Column,
      autoGenerateColumns: false,
      showMarquee: true,
      allowSorting: 'MultiColumn',
      selectionMode: wijmo.grid.SelectionMode.Row,
      isReadOnly: true,
      frozenColumns: 2,
      formatItem: (s, e) => {
       if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
        e.cell.style.textAlign = 'center';
       }
      },
      columns: [
       {binding: 'yymmdd', header: '전표일자', width: 110, align: 'center'},
       {binding: 'acccd',  header: '계좌코드', width: 100, align: 'center'},
       {binding: 'accnm',  header: '계정과목', width: 200, align: 'center'},
       {binding: 'summy',  header: '적요',     width: '*', align: 'left'},
       {binding: 'dramt',  header: '차변금액', width: 150, align: 'right'},
       {binding: 'cramt',  header: '대변금액', width: 150, align: 'right'},
       {binding: 'balamt', header: '잔액',     width: 150, align: 'right'},
      ],
      itemsSource: this.detail2View,
     });
     new FlexGridContextMenu(_this.detail2Grid);
     _this.detail2Grid.downloadFileName = '상세내역2';

     _this.detail2Grid.columnFooters.rows.push(new wijmo.grid.GroupRow());
     let dt2Idx = _this.detail2Grid.columns.findIndex(c => c.binding === 'yymmdd');
     if (dt2Idx > -1) _this.detail2Grid.columnFooters.setCellData(0, dt2Idx, '합계');
     ['dramt', 'cramt', 'balamt'].forEach(b => {
      const col = _this.detail2Grid.columns.getColumn(b);
      if (col) col.aggregate = wijmo.Aggregate.Sum;
     });

     // 더블클릭 → 전표 팝업
     _this.detail2Grid.hostElement.addEventListener('dblclick', function (e) {
      const ht = _this.detail2Grid.hitTest(e);
      if (ht.cellType === wijmo.grid.CellType.Cell) {
       const item = _this.detail2Grid.selectedItems[0];
       if (item) _this.openSlipPopup(item);
      }
     });

    }//init

    searchMainData(tabNo) {
     let _this = this;
     tabNo = tabNo || 1;

     // 탭별 URL 매핑
     const urlMap = {
      1: '/read',
      2: '/readDeposit',
      3: '/readDetail',
      4: '/readBusiness',
      5: '/readDetail2'
     };
     let url = this.url + (urlMap[tabNo] || '/read');

     let data = {
      start: $('#searchfrdate' + tabNo).val(),
      end:   $('#searchtodate' + tabNo).val(),
      mssec: $('#mssec' + tabNo).val(),
      accnm: $('#acccd' + tabNo).val()
     };

     let fnsuccess = function (result) {
      if (result != null && result.success) {
       const rows = result.data || [];
       switch (tabNo) {
        case 1: _this.summaryGrid.itemsSource    = rows; break;
        case 2: _this.depositGrid.itemsSource    = rows; break;
        case 3: _this.detailGrid.itemsSource     = rows; break;
        case 4: _this.businessGrid2.itemsSource  = rows; break;
        case 5: _this.detail2Grid.itemsSource    = rows; break;
       }
      } else {
       console.log('조회 오류 (tab' + tabNo + ')');
      }
     };

     AjaxUtil.getAsyncData(url, data, fnsuccess);
    }

    // ── 사업명 팝업 ──
    searchBusim() {
     let _this = this;
     let busim = $('#businame').val();

     AjaxUtil.getAsyncData(
      _this.entry_url + '/findBusim',
      {busim: busim},
      function (res) {
       let list = res.data || [];
       if (!list || list.length === 0) {
        Alert.alert('', '사업 조회 결과가 없습니다.');
        return;
       }
       _this.showBusimPopup(list);
      }
     );
    }

    showBusimPopup(dataList) {
     let _this = this;

     if (_this.busimPopup) {
      _this.busimPopup.close();
      _this.busimPopup = null;
     }

     let content = tmpl('businmTemplate', {});
     _this.busimPopup = new PopupDraggable('사업 조회');
     _this.busimPopup.open({width: 700, height: 420, $content: $(content)});

     _this.businessGrid = new wijmo.grid.FlexGrid('#BusinessGrid', {
      isReadOnly: true,
      selectionMode: wijmo.grid.SelectionMode.Row,
      headersVisibility: wijmo.grid.HeadersVisibility.Column,
      autoGenerateColumns: false,
      columns: [
       {binding: 'bsdate', header: '사업코드1', width: 90, align: 'center'},
       {binding: 'bseccd', header: '사업코드2', width: 90, align: 'center'},
       {binding: 'buiscd', header: '사업코드', width: 90, align: 'center'},
       {binding: 'busim', header: '사업명', width: '*', align: 'left'}
      ],
      itemsSource: new wijmo.collections.CollectionView(dataList)
     });
     _this.businessGrid.keyActionEnter = wijmo.grid.KeyAction.None;

     const selectBusim = function () {
      let sel = _this.businessGrid.selection;
      if (!sel || sel.row < 0) return;
      let item = _this.businessGrid.rows[sel.row].dataItem;
      _this.applyBusimData(item);
      _this.busimPopup.close();
      _this.busimPopup = null;
      _this.businessGrid = null;
     };

     setTimeout(function () {
      if (_this.businessGrid && _this.businessGrid.rows.length > 0) {
       _this.businessGrid.select(0, 0);
       _this.businessGrid.focus();
      }
     }, 50);

     _this.businessGrid.hostElement.addEventListener('dblclick', selectBusim);
     _this.businessGrid.hostElement.addEventListener('keydown', function (e) {
      if (e.key === 'Enter') {
       e.preventDefault();
       e.stopPropagation();
       selectBusim();
      }
     });
    }

    applyBusimData(item) {
     $('#busicd').val(item.buiscd || '');
     $('#businame').val(item.busim || '');
     $('#bsdate').val(item.bsdate || '');//사업코드1 - 히든값
     $('#bseccd').val(item.bseccd || '');//사업코드2 - 히든값

     setTimeout(() => $('#remark').focus(), 50);
    }

// ── 계정(관) 조회 팝업: 탭번호 기반 ──
    searchAccnm(tabNo) {
     let _this = this;
     let keyword = $('#accnm' + tabNo).val();   // 이름 input의 텍스트로 검색

     AjaxUtil.getAsyncData(
      _this.entry_url + '/findAccnm',
      {accnm: keyword, type: 'account'},
      function (res) {
       let list = res.data || [];
       if (!list || list.length === 0) {
        Alert.alert('', '관 조회 결과가 없습니다.');
        return;
       }
       _this.showAccnmPopup(list, tabNo);
      }
     );
    }

    showAccnmPopup(dataList, tabNo) {
     let _this = this;
     if (_this.accnmPopup) { _this.accnmPopup.close(); _this.accnmPopup = null; }

     let content = tmpl('accnmTemplate', {});
     _this.accnmPopup = new PopupDraggable('관 조회');
     _this.accnmPopup.open({width: 700, height: 420, $content: $(content)});

     _this.accGrid = new wijmo.grid.FlexGrid('#AccGrid', {
      isReadOnly: true,
      selectionMode: wijmo.grid.SelectionMode.Row,
      headersVisibility: wijmo.grid.HeadersVisibility.Column,
      autoGenerateColumns: false,
      columns: [
       {binding: 'acccd', header: '관코드', width: 100, align: 'center'},
       {binding: 'accnm', header: '관명',   width: '*', align: 'left'}
      ],
      itemsSource: new wijmo.collections.CollectionView(dataList)
     });
     _this.accGrid.keyActionEnter = wijmo.grid.KeyAction.None;

     const selectAccnm = function () {
      let sel = _this.accGrid.selection;
      if (!sel || sel.row < 0) return;
      let item = _this.accGrid.rows[sel.row].dataItem;
      _this.applyAccnmData(item, tabNo);
      _this.accnmPopup.close();
      _this.accnmPopup = null;
      _this.accGrid = null;
     };

     setTimeout(function () {
      if (_this.accGrid && _this.accGrid.rows.length > 0) {
       _this.accGrid.select(0, 0);
       _this.accGrid.focus();
      }
     }, 50);

     _this.accGrid.hostElement.addEventListener('dblclick', selectAccnm);
     _this.accGrid.hostElement.addEventListener('keydown', function (e) {
      if (e.key === 'Enter') {
       e.preventDefault();
       e.stopPropagation();
       selectAccnm();
      }
     });
    }

    applyAccnmData(item, tabNo) {
     $('#accnm' + tabNo).val(item.accnm || '');   // 보이는 칸엔 계정명
     $('#acccd' + tabNo).val(item.acccd || '');   // 히든엔 계정코드
     this.searchMainData(tabNo);                   // 선택 즉시 조회
    }

// ── 항 팝업 ──
    searchIt1nm($row) {
     let _this = this;
     let it1nm = $row.find('input[name^="it1nm"]').val();
     let tiosec = $('#tiosec').val();

     if (!tiosec) {
      Alert.alert('', '입출구분을 먼저 선택하세요.');
      $('#tiosec').focus();
      return;
     }

     AjaxUtil.getAsyncData(
      _this.entry_url + '/findIt1nm',
      {it1nm: it1nm, tiosec: tiosec},
      function (res) {
       let list = res.data || [];
       if (!list || list.length === 0) {
        Alert.alert('', '항 조회 결과가 없습니다.');
        return;
       }
       _this.showIt1Popup(list, $row);
      }
     );
    }

    showIt1Popup(dataList, $row) {
     let _this = this;

     if (_this.it1Popup) {
      _this.it1Popup.close();
      _this.it1Popup = null;
     }

     let content = tmpl('it1Template', {});
     _this.it1Popup = new PopupDraggable('항 조회');
     _this.it1Popup.open({width: 700, height: 420, $content: $(content)});

     _this.it1Grid = new wijmo.grid.FlexGrid('#It1Grid', {
      isReadOnly: true,
      selectionMode: wijmo.grid.SelectionMode.Row,
      headersVisibility: wijmo.grid.HeadersVisibility.Column,
      autoGenerateColumns: false,
      columns: [
       {binding: 'it1cd', header: '항코드', width: 100, align: 'center'},
       {binding: 'it1nm', header: '항명', width: '*', align: 'left'}
      ],
      itemsSource: new wijmo.collections.CollectionView(dataList)
     });
     _this.it1Grid.keyActionEnter = wijmo.grid.KeyAction.None;

     const selectIt1 = function () {
      let sel = _this.it1Grid.selection;
      if (!sel || sel.row < 0) return;
      let item = _this.it1Grid.rows[sel.row].dataItem;
      _this.applyIt1Data(item, $row);
      _this.it1Popup.close();
      _this.it1Popup = null;
      _this.it1Grid = null;
     };

     setTimeout(function () {
      if (_this.it1Grid && _this.it1Grid.rows.length > 0) {
       _this.it1Grid.select(0, 0);
       _this.it1Grid.focus();
      }
     }, 50);

     _this.it1Grid.hostElement.addEventListener('dblclick', selectIt1);
     _this.it1Grid.hostElement.addEventListener('keydown', function (e) {
      if (e.key === 'Enter') {
       e.preventDefault();
       e.stopPropagation();
       selectIt1();
      }
     });
    }

    applyIt1Data(item, $row) {
     $row.find('input[name^="it1cd"]').val(item.it1cd || '');
     $row.find('input[name^="it1nm"]').val(item.it1nm || '');
     $row.find('input[name^="hangcd"]').val(item.it1cd || '');
     // 팝업 선택 후 → 목으로 포커스
     setTimeout(() => $row.find('input[name^="it2nm"]').focus().select(), 50);
    }

// ── 목 팝업 ──
    searchIt2nm($row) {
     let _this = this;
     let it2nm = $row.find('input[name^="it2nm"]').val();
     let tiosec = $('#tiosec').val();   // ← 입출구분

     if (!tiosec) {
      Alert.alert('', '입출구분을 먼저 선택하세요.');
      $('#tiosec').focus();
      return;
     }

     AjaxUtil.getAsyncData(
      _this.entry_url + '/findIt2nm',
      {it2nm: it2nm,tiosec: tiosec},
      function (res) {
       let list = res.data || [];
       if (!list || list.length === 0) {
        Alert.alert('', '목 조회 결과가 없습니다.');
        return;
       }
       _this.showIt2Popup(list, $row);
      }
     );
    }

    showIt2Popup(dataList, $row) {
     let _this = this;

     if (_this.it2Popup) {
      _this.it2Popup.close();
      _this.it2Popup = null;
     }

     let content = tmpl('it2Template', {});
     _this.it2Popup = new PopupDraggable('목 조회');
     _this.it2Popup.open({width: 700, height: 420, $content: $(content)});

     _this.it2Grid = new wijmo.grid.FlexGrid('#It2Grid', {
      isReadOnly: true,
      selectionMode: wijmo.grid.SelectionMode.Row,
      headersVisibility: wijmo.grid.HeadersVisibility.Column,
      autoGenerateColumns: false,
      columns: [
       {binding: 'it2cd', header: '목코드', width: 100, align: 'center'},
       {binding: 'it2nm', header: '목명', width: '*', align: 'left'}
      ],
      itemsSource: new wijmo.collections.CollectionView(dataList)
     });
     _this.it2Grid.keyActionEnter = wijmo.grid.KeyAction.None;

     const selectIt2 = function () {
      let sel = _this.it2Grid.selection;
      if (!sel || sel.row < 0) return;
      let item = _this.it2Grid.rows[sel.row].dataItem;
      _this.applyIt2Data(item, $row);
      _this.it2Popup.close();
      _this.it2Popup = null;
      _this.it2Grid = null;
     };

     setTimeout(function () {
      if (_this.it2Grid && _this.it2Grid.rows.length > 0) {
       _this.it2Grid.select(0, 0);
       _this.it2Grid.focus();
      }
     }, 50);

     _this.it2Grid.hostElement.addEventListener('dblclick', selectIt2);
     _this.it2Grid.hostElement.addEventListener('keydown', function (e) {
      if (e.key === 'Enter') {
       e.preventDefault();
       e.stopPropagation();
       selectIt2();
      }
     });
    }

    applyIt2Data(item, $row) {
     $row.find('input[name^="it2cd"]').val(item.it2cd || '');
     $row.find('input[name^="it2nm"]').val(item.it2nm || '');
     $row.find('input[name^="mokcd"]').val(item.it2cd || '');
     // 팝업 선택 후 → 산출내역으로 포커스
     setTimeout(() => $row.find('input[name^="summy"]').focus().select(), 50);
    }

    // 재원 조회
    searchMssec($row) {                           // $detailRow → $row
     const _this = this;
     if (_this.mssecOptions && _this.mssecOptions.length > 0) {
      _this.showMssecPopup(_this.mssecOptions, $row);
      return;
     }
     AjaxUtil.getAsyncData(
      _this.entry_url + '/mssec', {},
      function(res) {
       const list = res.data || [];
       if (list.length === 0) {
        Alert.alert('', '재원 목록이 없습니다.');
        return;
       }
       _this.mssecOptions = list;
       _this.showMssecPopup(list, $row);
      }
     );
    }

    showMssecPopup(dataList, $row) {             // $detailRow → $row
     let _this = this;
     if (_this.mssecPopup) { _this.mssecPopup.close(); _this.mssecPopup = null; }

     let content = tmpl('mssecTemplate', {});
     _this.mssecPopup = new PopupDraggable('재원 조회');
     _this.mssecPopup.open({ width: 400, height: 350, $content: $(content) });

     _this.mssecGrid = new wijmo.grid.FlexGrid('#MssecGrid', {
      isReadOnly: true,
      selectionMode: wijmo.grid.SelectionMode.Row,
      headersVisibility: wijmo.grid.HeadersVisibility.Column,
      autoGenerateColumns: false,
      columns: [
       { binding: 'value', header: '코드', width: 100, align: 'center' },
       { binding: 'text',  header: '재원명', width: '*', align: 'left' }
      ],
      itemsSource: new wijmo.collections.CollectionView(dataList)
     });
     _this.mssecGrid.keyActionEnter = wijmo.grid.KeyAction.None;

     const selectCurrent = function() {
      let sel = _this.mssecGrid.selection;
      if (!sel || sel.row < 0) return;
      let selectedItem = _this.mssecGrid.rows[sel.row].dataItem;
      _this.applyMssecData(selectedItem, $row);   // $detailRow → $row
      if (_this.mssecPopup) { _this.mssecPopup.close(); _this.mssecPopup = null; }
      _this.mssecGrid = null;
     };

     setTimeout(function() {
      if (_this.mssecGrid && _this.mssecGrid.rows.length > 0) {
       _this.mssecGrid.select(0, 0);
       _this.mssecGrid.focus();
      }
     }, 50);

     _this.mssecGrid.hostElement.addEventListener('dblclick', selectCurrent);
     _this.mssecGrid.hostElement.addEventListener('keydown', function(e) {
      if (e.key === 'Enter') { e.preventDefault(); e.stopPropagation(); selectCurrent(); }
     });
    }

    applyMssecData(selectedItem, $row) {         // $detailRow → $row, 포커스도 수정
     $row.find('input[name^="msseccd"]').val(selectedItem.value || '');
     $row.find('input[name^="mssecnm"]').val(selectedItem.text  || '');

     // 재원 선택 후 → 차/대변금액으로 포커스 (readonly가 아닌 쪽)
     setTimeout(() => {
      const $dramt = $row.find('input[name^="dramt"]');
      const $cramt = $row.find('input[name^="cramt"]');
      const $target = !$dramt.prop('readonly') ? $dramt : $cramt;
      $target.focus().select();
     }, 50);
    }

   }//SlipStatusPage

   // 현재 보이는 탭 번호 추출 (tab1 → 1)
   function getActiveTabNo() {
    let $active = $('.tab-item.active');
    if (!$active.length) $active = $('.tab-item:visible').first();
    let id = ($active.attr('id') || 'tab1').replace('tab', '');
    let no = parseInt(id, 10);
    return isNaN(no) ? 1 : no;
   }
   let page = null;

   $(document).ready(function (e) {
    page = new CategoryLedgerPage();

    let fr = new Date();
    fr.setDate(1);                            // 이번 달 1일
    let frStr = CommonUtil.formatYYYYMMDD(fr);
    let toStr = getNowDate();

    // ── 탭별 날짜 기본값 + 재원 콤보 + 이벤트 (1~4) ──
    for (let i = 1; i <= 5; i++) {
     // 날짜 기본값 (없는 탭은 자동으로 no-op)
     $('#searchfrdate' + i).val(frStr);
     $('#searchtodate' + i).val(toStr);

     // 재원 콤보 (select 있는 탭만)
     let $sel = $('#mssec' + i);
     if ($sel.length) {
      AjaxUtil.fillSelectOptions($sel, 'mssec', 'all', false);
     }

     // 검색 버튼
     $('#btnSearch' + i).on('click', (function (tabNo) {
      return function () { page.searchMainData(tabNo); };
     })(i));

     // 계정과목(이름 input): 엔터 치면 팝업
     $('#accnm' + i).on('keydown', (function (tabNo) {
      return function (ev) {
       if (ev.key === 'Enter') {
        ev.preventDefault();
        page.searchAccnm(tabNo);
       }
      };
     })(i));
    }

    page.searchMainData();

    $('#btnSearch1').on('click', function () {
     page.searchMainData();
    });


    $(document).on('keydown', function (ev) {
     if (ev.key === 'F4') {
      ev.preventDefault();
      page.searchMainData(getActiveTabNo());
     }
    });
   });
  </script>
</th:block>