<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>검사마스터 그룹</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
                <li>관리메뉴</li>
                <li>검사관리</li>
                <li>검사마스터 그룹</li>
            </ul>
        </div>
        <section class="section">
            <div class="section-top">
                <div class="search-wrap">
                    <dl>
                        <dt>
                            <label>그룹명</label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <input type="text" id="txtTestGrp" name="txtTestGrp" class="form-control2">
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>검사종류</label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <select class="form-control2" id="cboTestClass" name="cboTestClass"></select>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt><span class="eq"></span></dt>
                        <dd>
                            <li>
                                <a class="btn btn-delete" title="검색" id="btnSearch">
                                    <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                                    검색
                                </a>
                            </li>
                        </dd>
                    </dl>
                </div>
                <div class="button-wrap">
                    <!--<button type="button" class="btn-default y_write_auth" id="btnSave" style="float:none"><i class="fas fa-save"></i></button>-->
                   <button type="button" class="btn-danger y_write_auth" id="btnDel" style="width: 115px; height: 36px;"><i class="fas fa-trash"></i>삭제</button>
                </div>
            </div>
            <div class="container-fluid">
                <p id="selectedItem"></p>
                <div id="test-grp-grid" style="height: 720px; max-height: 720px;"></div>
            </div>
        </section>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
    <script type="text/javascript">
        class TestGrpPage {
            constructor() {
                this.ClassMap = { };
                this.test_class = AjaxUtil.getSelectData('system_code', 'test_class');
                this.grid = null;
                this.viewData = new wijmo.collections.CollectionView();
                this.init();
            }

            init() {
                let _this = this;
                /*let config = {
                    target: $('[data-ax5grid="test-grp-grid"]'),
                    sortable: true,
                    frozenColumnIndex: 0, // 열 고정
                    frozenRowIndex: 0,    // 행 고정
                    showLineNumber: false, // 열의 번호 보이기 여부
                    showRowSelector: false,  // checkbox(선택) 보이기 여부
                    multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                    sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                    multiSort: true, // 다중 정렬 여부
                    header: {
                        align: 'center',  // 헤더의 기본 정렬
                        columnHeight: 38  // 헤더 높이
                    },
                    body: {
                        columnHeight: 25, // body의 기본 높이
                        onClick: function (e) {

                            _this.grid.select(this.dindex);
                            if (e.column.key == 'test_class') {
                                e.column.editor.config.options = _this.test_class;
                            }
                        },
                        onDataChanged: function (e) {
                            if (this.key == 'test_grp_name') {
                                if (!this.item.test_class) {
                                    Alert.alert('', '검사종류를 선택해 주세요')
                                    return false;
                                }

                                _this.saveTestMaterGrp();
                            } else if (this.key == 'test_class') {
                                if (!this.item.test_grp_name) {
                                    return false;
                                }
                                _this.saveTestMaterGrp();
                            }
                        }
                    },
                    page: {
                        display: true,  // 페이징 보이기 여부
                        statusDisplay: true,
                    },
                    columns: [
                        //{ key: 'id', label: '번호', width: 100, align: 'center', sortable: false },
                        {
                            key: 'test_class', label: '<span style="color:blue">검사종류</span>', width: 150, align: 'left', sortable: true,
                            formatter: function () {
                                return _this.ClassMap[this.value];
                            },
                            editor: {
                                type: 'select',
                                config: {
                                    columnKeys: {
                                        optionValue: 'value',
                                        optionText: 'text'
                                    },
                                    //options: res
                                    options: [],
                                }
                            },

                        },
                        { key: 'test_grp_name', label: '<span style="color:blue">그룹명</span>', width: 150, align: 'left', sortable: true, editor: { type: 'text' }, },
                    ]
                };

                this.grid = new ax5.ui.grid(config);*/

                this.grid = new wijmo.grid.FlexGrid('#test-grp-grid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: false, // 셀을 항상 수정 가능하도록 설정
                    formatItem: (sender, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                            let headerText = e.cell.textContent.trim();

                            if (headerText === '검사종류' || headerText === '그룹명') {
                                e.cell.style.color = 'blue';
                            }
                        }
                    },
                    columns: [
                        {
                            binding: 'test_class',
                            header: '검사종류',
                            width: 180,
                            cssClass: 'text-left',
                            dataMap: new wijmo.grid.DataMap([], 'value', 'text'), // 옵션은 동적으로 설정
                        },
                        {
                            binding: 'test_grp_name',
                            header: '그룹명',
                            width: 180,
                            cssClass: 'text-left',
                        },
                        {
                            binding: '',
                            header: '',
                            width: '*',
                        },
                    ],
                    itemsSource: this.viewData,

                    cellEditEnding: (sender, e) => {
                        let grid = sender;
                        let rowIndex = e.row;
                        let colIndex = e.col;
                        let column = grid.columns[colIndex];

                        // editor가 존재하는지 확인
                        if (column.editor && column.editor.config) {
                            if (column.binding === 'test_class') {
                                if (_this.test_class && Array.isArray(_this.test_class)) {
                                    column.editor.config.options = _this.test_class; // 동적 옵션 설정
                                }
                            }
                        }
                    },

                    // onDataChanged 수정 (Wijmo에서는 `cellEditEnded`를 사용하여 변경된 데이터를 처리)
                    cellEditEnded: (sender, e) => {
                        let grid = sender;
                        let item = grid.rows[e.row].dataItem; // 수정된 항목

                        // 수정된 항목에 isModified 설정
                        item.isModified = true;  // 수정된 항목으로 상태 변경

                        if (e.col === grid.columns.getColumn('test_grp_name').index) {
                            if (!item.test_class) {
                                Alert.alert('', '검사종류를 선택해 주세요');
                                return false;
                            }
                            _this.saveTestMaterGrp(); // 저장 함수 호출
                        } else if (e.col === grid.columns.getColumn('test_class').index) {
                            if (!item.test_grp_name) {
                                Alert.alert('', '그룹명을 선택해 주세요');
                                return false;
                            }
                            _this.saveTestMaterGrp(); // 저장 함수 호출
                        }
                    }

                });


                new FlexGridContextMenu(this.grid);
                this.grid.downloadFileName = '검사마스터 그룹';

                let options = AjaxUtil.fillSelectOptions($('#cboTestClass'), 'system_code', 'all', false, 'test_class');
                if (Array.isArray(options)) {
                    this.grid.columns[0].dataMap = new wijmo.grid.DataMap(options, 'value', 'text');
                }


            }

            //버튼 활성화 설정
            setButtonState() {
                let pk = $('#id').val();
                $('#btnSave').prop('disabled', false);
                if (pk) {
                    $('#btnDel').prop('disabled', false);
                }
                else {
                    $('#btnDel').prop('disabled', true);
                }
            }


            // 그룹 목록 조회
            searchMainData() {
                let _this = this;
                let url = '/api/test/test_master_group/read';
                let param = {
                    'test_grp_name': $('#txtTestGrp').val(),
                    'test_class': $('#cboTestClass').val()
                };

                let result = AjaxUtil.getSyncData(url, param);
                if (result != null) {
                    _this.viewData.sourceCollection = result.data;
                }

                // FlexGrid에 새로운 행 추가 (올바른 방식)
                let newRow = {}; // 빈 객체 생성 (필요하면 기본값 설정 가능)
                _this.viewData.sourceCollection.push(newRow); // 데이터 소스 배열에 추가
                _this.viewData.refresh(); // 변경된 데이터 적용
            }


            // 테스트 마스터 그룹 정보 저장
            saveTestMaterGrp() {
                let _this = this;

                // viewData가 배열인지 확인하고, 배열로 가져오기
                let dataSource = Array.isArray(_this.viewData) ? _this.viewData : _this.viewData.sourceCollection;

                // 'modified' 상태인 항목 필터링 (isModified가 true인 항목)
                let modifiedItems = dataSource.filter(item => item.isModified === true);  // isModified가 true인 항목만 필터링


                // 필터링된 항목이 없으면 저장을 하지 않도록 처리
                if (modifiedItems.length === 0) {
                    console.warn('수정된 항목이 없습니다.');
                    return;
                }

                /*console.log('수정된 항목:', modifiedItems);*/

                // 서버로 보낼 데이터 준비
                let data = {
                    list: JSON.stringify(modifiedItems), // 필터링된 항목을 JSON 문자열로 변환
                };

                // 전송되는 데이터 확인 (디버깅용)
                /*console.log("전송할 데이터:", data);*/

                // 수정된 데이터를 서버로 전송
                let url = '/api/test/test_master_group';

                let fnSuccess = function () {
                    Alert.alert('','저장되었습니다');
                    _this.searchMainData();  // 데이터 갱신
                };

                AjaxUtil.postAsyncData(url + "/save", data, fnSuccess);
            }




            //  정보 삭제
            deleteTestMasterGrp() {
                let _this = this;
                let url = '/api/test/test_master_group/delete';

                /*let id = this.grid.getList("selected")[0].id;*/

                let test_item_grid = wijmo.Control.getControl('#test-grp-grid');
                let selectedRow = test_item_grid.selection.row;
                let selectedItem = test_item_grid.rows[selectedRow].dataItem;

                /*console.log(selectedItem);*/

                let id = selectedItem.id;

                let data = { 'id': id };
                let fnSuccess = function (res) {
                    if (res.success) {
                        Alert.alert('','삭제되었습니다');
                        _this.searchMainData();
                    } else {
                        Alert.alert('', res.message);
                    }
                }

                AjaxUtil.postAsyncData(url, data, fnSuccess);
            }
        }

        let page = null;

        $(document.body).ready(function (e) {
            page = new TestGrpPage();

            page.test_class = AjaxUtil.getSelectData('system_code', 'test_class');
            $.each(page.test_class, function (index, item) {
                page.ClassMap[item.value] = item.text;
            });

            page.searchMainData();


            // 검색버튼 클릭
            $('#btnSearch').click(function (e) { page.searchMainData(); });

            // 저장버튼
            $('#btnSave').click(function (e) {
                Alert.confirm('',
                    '저장하시겠습니까?',
                    function () { page.saveTestMaterGrp() },
                    function () { }
                );
            });

            // 삭제버튼
            $('#btnDel').click(function (e) {
                Alert.confirm('',
                    '삭제하시겠습니까?',
                    function () { page.deleteTestMasterGrp() },
                    function () { }
                );
            });

            //그룹명에서 엔터키
            //$(page.grid.column.key == 'test_grp_name').keydown(function (key) {
            //    if (key.keyCode == 13) {
            //    }
            //});

            //$('[data-ax5grid="test-grp-grid"]').keydown(function (key ) {
            //    if (key === 13) {
            //    }
            //})

        });
    </script>


</th:block>
</html>