<html layout:decorate="~{layout_page}">
<head>
    <style>
        .wx210{
            width: 210px !important;
        }
        .wx190{
            width: 150px !important;
        }

    </style>
</head>
<th:block layout:fragment="content">
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>방충방서관리기준</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
                <li>HACCP 기준정보</li>
                <li>방충방서관리기준</li>
            </ul>
        </div>

        <section class="section">
            <div class="section-top">

                <div class="search-wrap">

                    <dl>
                        <dt>
                            <label>
                                구역구분<span class="eq"></span>
                            </label>
                        </dt>
                        <dd>
                            <select class="form-control2" id="cboAreaClass" name="cboAreaClass"></select>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label>
                                해충구분<span class="eq"></span>
                            </label>
                        </dt>
                        <dd>
                            <select class="form-control2" id="cboPestClass" name="cboPestClass"></select>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label>
                                계절<span class="eq"></span>
                            </label>
                        </dt>
                        <dd>
                            <select class="form-control2" id="cboSeason" name="cboSeason"></select>
                        </dd>
                    </dl>

                    <dl>
                        <dt>&nbsp;</dt>
                        <dd>
                            <li>
                                <a class="btn btn-delete" title="검색" id="btnSearch">
                                    <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                    <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                                    검색
                                </a>
                            </li>
                        </dd>
                    </dl>
                </div>

            </div>

            <div id="theGrid" style="height: 450px;"></div>
        </section>

        <section class="section">
            <div class="button-wrap">
                <ul>
                    <li style="cursor: default; list-style-image: none;">
                        <button class="btn" id="btnNew" ><i class="fas fa-plus"></i></button>
                    </li>
                    <li style="cursor: default; list-style-image: none;">
                        <button class="btn y_write_auth" id="btnDel" disabled><i class="fas fa-trash"></i></button>
                    </li>
                    <li style="cursor: default; list-style-image: none;">
                        <button class="btn y_write_auth" id="btnSave" disabled><i class="fas fa-save"></i></button>
                    </li>
                    <li style="cursor: default; list-style-image: none;">
                        <button class="btn y_write_auth" id="btnSaveAsNew" disabled>새 항목으로 저장</button>
                    </li>

                </ul>
            </div>
            <!--<div class="title_box mb-2" style="margin-top: 0">
                <button type="button" class="btn" id="btnNew" ><i class="fas fa-plus"></i></button>
                <button type="button" class="btn y_write_auth" id="btnDelete" disabled><i class="fas fa-trash"></i></button>
                <button type="button" class="btn y_write_auth" id="btnSave" disabled><i class="fas fa-save"></i></button>
            </div>-->
            <form id="detailForm">
                <input type="hidden" id="id" name="id" />
                <div class="section-top">
                    <div class="table-wrap" id="detail_box">

                        <input class="form-control2"  type="text" id="id" name="id" hidden/>

                        <table class="write-table">
                            <caption>작업 지시 테이블</caption>
                            <tbody>
                            <tr>
                                <th style="text-align: center">
                                    <label>구역</label>
                                </th>
                                <td>
                                    <select class="form-control2" id="HaccpAreaClassCode" name="HaccpAreaClassCode" disabled="disabled"  ></select>

                                </td>

                                <th style="text-align: center">
                                    <label>해충구분</label>
                                </th>
                                <td>
                                    <select class="form-control2" id="PestClassCode" name="PestClassCode" disabled="disabled"  ></select>
                                </td>

                                <th style="text-align: center">
                                    <label>계절</label>
                                </th>
                                <td>
                                    <select class="form-control2" id="SeasonCode" name="SeasonCode" disabled="disabled"  ></select>
                                </td>
                            </tr>

                            <tr>
                                <th style="text-align: center">
                                    <label>포획</label>
                                </th>
                                <td colspan="8">
                                    <input type="number" class="form-control2 tar" id="FromCount" name="FromCount" disabled="disabled"  >~
                                    <input type="number" class="form-control2 tar" id="ToCount" name="ToCount" disabled="disabled"  >
                            </tr>

                            <tr>
                                <th style="text-align: center">
                                    <label>조치사항</label>
                                </th>
                                <td colspan="8">
                                    <textarea class="form-control2" id="ActionContent" name="ActionContent" disabled="disabled"></textarea>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </section>
    </div>

</th:block>

<th:block layout:fragment="scripts">
    <script type="text/javascript" src="/js/grid.js?ver=22080801"></script>
    <script type="text/javascript">

        class CodePage {

            constructor() {

                this.grid = null;
                this.viewData = new wijmo.collections.CollectionView();

                this.baseUrl = '/api/haccp/pest_control_standard';

                this.init();

            }

            init() {
                let _this = this;

                this.grid = new wijmo.grid.FlexGrid('#theGrid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true,
                    columns: [

                        { binding: 'id', header: '번호', width: '*', align: 'left', visible: false  },
                        { binding: 'haccp_area_class', header: '구역', width: '*', align: 'left' },
                        { binding: 'pest_class', header: '해충구분', width: '*', align: 'left' },
                        { binding: 'season', header: '계절', width: '*', align: 'left' },
                        { binding: 'from_count', header: '해충수From', width: '*', align: 'right' },
                        { binding: 'to_count', header: '해충수To', width: '*', align: 'right' },
                        { binding: 'action_content', header: '조치사항', width: '*', align: 'left' },

                    ],
                    itemsSource: this.viewData,
                    formatItem: function (s, e) {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center'; // 헤더 텍스트 가운데 정렬

                        }
                    },
                });

                this.grid.selectionChanged.addHandler((s, e) => {


                    let selectedRowIndex = s.selection.row; // 선택된 행의 인덱스
                    if (selectedRowIndex >= 0) { // 유효한 행이 선택되었는지 확인
                        let selectedRowData = s.rows[selectedRowIndex].dataItem; // 선택된 행의 데이터

                        _this.showDetail(selectedRowData.id);

                        console.log(`선택된 행 인덱스: ${selectedRowIndex}`);
                        console.log('선택된 행 데이터:', selectedRowData);

                    }
                });
                new FlexGridContextMenu(this.grid);
                this.grid.downloadFileName = '방충방서관리기준';

            }

            // 버튼 활성화 설정
            setButtonState() {
                let pk = $('#id').val();
                $('#btnNew').prop('disabled', false);
                $('#btnSave').prop('disabled', false);
                if (pk) {
                    $('#btnDel').prop('disabled', false);
                    $('#btnSaveAsNew').prop('disabled', false);
                }
                else {
                    $('#btnDel').prop('disabled', true);
                    $('#btnSaveAsNew').prop('disabled', true);
                }
            }

            searchMainData() {
                let _this = this;
                let url = this.baseUrl;
                let param = {
                    'haccp_area_class_code': $('#cboAreaClass').val(),
                    'pest_class_code': $('#cboPestClass').val(),
                    'season_code': $('#cboSeason').val(),
                };

                let result = AjaxUtil.getSyncData(url + '/read', param);
                if (result.data != null) {

                    _this.viewData.sourceCollection = result.data;
                }

            }

            clearInfo() {
                $('#detailForm')[0].reset();
                $('#detailForm').find('#id').val('');
                $('#detail_box').find('input, select, textarea').each(function () {
                    if ($(this).is(':disabled')) {
                        $(this).removeAttr('disabled');
                    }
                });
                //$('#detail_box').find('input, select, textarea').each(function () {
                //    if (!$(this).is(':disabled')) {
                //        $(this).attr('disabled', 'disabled');
                //    }
                //});

                this.setButtonState();
            }

            // 상세정보 조회
            showDetail(id) {
                let param = { 'id': id };
                let url = this.baseUrl;
                let result = AjaxUtil.getSyncData(url + "/detail", param);

                if (result != null) {
                    FormUtil.BindDataForm(result.data, $('#detailForm'));
                }

                this.setButtonState();
            }

            // 창고 정보 저장
            saveInfo(bSaveAsNew = false) {
                let _this = this;
                let validate = true;
                let $target = null;
                let url = this.baseUrl + '/save';

                //let data = $('#detailForm').serialize();
                let data = FormUtil.extractForm($('#detailForm'));
                data['master_class'] = _this.master_class;

                if (bSaveAsNew)
                    data.id = '';

                let fnSuccess = function (result) {
                    if (result.success) {
                        Notify.success("저장되었습니다.");
                        _this.searchMainData();
                    }
                    else
                        Alert.alert('에러', result.message);
                }

                // 필수입력 check routine
                $('#detail_box').find('input, select, textarea').each(function () {
                    if ($(this).is(':required')) {
                        if (!$(this).val()) {
                            validate = false;
                            $target = $(this);
                            return false;
                        }
                    }
                });

                if (validate) {
                    AjaxUtil.postAsyncData(url, data, fnSuccess);
                } else {
                    Alert.alert('', '필수 항목을 입력해주세요.', function () {
                        $target.focus();
                    });
                }
            }

            // 정보 삭제
            deleteData() {
                let _this = this;
                let url = this.baseUrl + '/delete';
                let id = $('#detailForm').find('#id').val();
                let data = { id: id };
                let fnSuccess = function (res) {
                    if (res.success) {
                        Notify.success('삭제되었습니다');
                        _this.searchMainData();
                        page.clearInfo();
                    } else {
                        Alert.alert('', res.message);
                    }
                }
                AjaxUtil.postAsyncData(url, data, fnSuccess);
            }




        }

        let page = null;

        $(document).ready(function (e) {
            page = new CodePage();

            let today_string = CommonUtil.getYYYYMMDD();
            $('#txtBaseDate').val(today_string);
            $('#StartDate').val(today_string);
            page.today_string = today_string;

            AjaxUtil.fillSelectOptions($('#cboAreaClass'), 'system_code', 'all', '', 'haccp_area_class');
            AjaxUtil.fillSelectOptions($('#cboPestClass'), 'system_code', 'all', '', 'pest_class');
            AjaxUtil.fillSelectOptions($('#cboSeason'), 'system_code', 'all', '', 'pest_season');

            AjaxUtil.fillSelectOptions($('#HaccpAreaClassCode'), 'system_code', 'choose', '', 'haccp_area_class');
            AjaxUtil.fillSelectOptions($('#PestClassCode'), 'system_code', 'choose', '', 'pest_class');
            AjaxUtil.fillSelectOptions($('#SeasonCode'), 'system_code', 'choose', '', 'pest_season');

            // 검색버튼 클릭
            $('#btnSearch').click(function (e) {
                page.searchMainData();
                page.clearInfo();
            });

            // 신규버튼
            $('#btnNew').click(function (e) {
                page.clearInfo();

                page.setButtonState();
            });

            // 저장버튼
            $('#btnSave').click(function (e) {
                Alert.confirm('',
                    "저장하시겠습니까?",
                    function () { page.saveInfo(false) },
                    function () { }
                );
            });
            $('#btnSaveAsNew').click(function (e) {
                Alert.confirm('',
                    '새 항목으로 저장하시겠습니까?',
                    function () { page.saveInfo(true) },
                    function () { }
                )
            });


            // 삭제버튼
            $('#btnDel').click(function (e) {
                Alert.confirm('',
                    "삭제하시겠습니까?",
                    function () { page.deleteData() },
                    function () { }
                );
            });


            page.searchMainData();
            page.clearInfo();

        });
    </script>

</th:block>
</html>