<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>LOT 재고 조정 이력</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
                <li>재고관리</li>
                <li>LOT 재고 조정 이력</li>
            </ul>
        </div>

        <section class="section">
            <div class="section-top">
                <div class="search-wrap">
                    <dl>
                        <dt>
                            실사일<span class="eq">*</span>
                        </dt>
                        <dd>
                            <ul class="date-box">
                                <li>
                                    <input type="date" id="srchStartDt" name="srchStartDt">
                                    <label for="srchStartDt" class="hide">시작일</label>
                                </li>
                                <li>
                                    <input type="date" id="srchEndDt" name="srchEndDt">
                                    <label for="srchEndDt" class="hide">종료일</label>
                                </li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label for="cboStoreHouse">
                                창고
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <select id="cboStoreHouse" name="cboStoreHouse"></select>
                            </div>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label for="cboMaterialType">
                                품목유형<span class="eq"></span>
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <select id="cboMaterialType" name="cboMaterialType"></select>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label for="cboMaterialGroup">
                                품목그룹<span class="eq"></span>
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <select id="cboMaterialGroup" name="cboMaterialGroup"></select>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label for="keyword">
                                품명/코드/LOT
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <input class="form-control2" type="text" id="keyword" name="keyword"/>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>&nbsp;</dt>
                        <dd>
                            <li>
                                <a class="btn btn-delete" title="검색" id="btnSearch">
                                    <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                    <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                                    검색
                                </a>
                            </li>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="grid_box">
                <div id="material-grid" style="height: 730px;"></div>
            </div>
        </section>
    </div>
</th:block>
<th:block layout:fragment="scripts">

<script type="text/javascript">
    

    class StockLotTakeHistoryPage {
        constructor() {
        	this.baseUrl = "/api/inventory/lot_stock_take";
            this.grid1 = null;
            this.init();
        }

        init() {
            let _this = this;
            this.grid = new wijmo.grid.FlexGrid('#material-grid', {
                autoGenerateColumns: false,
                selectionMode: wijmo.grid.SelectionMode.Row,
                headersVisibility: wijmo.grid.HeadersVisibility.All,
                isReadOnly: true,
                frozenColumns: 0,
                itemsSource: new wijmo.collections.CollectionView([]),
                formatItem: (s, e) => {
                    if (e.panel.cellType === wijmo.grid.CellType.RowHeader) {
                        // 헤더에 순번
                        e.cell.textContent = (e.row + 1).toString();
                    }
                    if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                        e.cell.style.textAlign = 'center';
                    }
                },
                columns: [
                    {binding: 'house_name', header: '창고명', width: 100, align: 'left'},
                    {binding: 'mat_type_name', header: '품목유형', width: 100, align: 'center'},
                    {binding: 'mat_grp_name', header: '품목그룹', width: 100, align: 'center'},
                    {binding: 'mat_code', header: '품목코드', width: 100, align: 'center'},
                    {binding: 'mat_name', header: '품목명', width: 200, align: 'left'},
                    {binding: 'LotNumber', header: 'Lot', width: 150, align:'center' },
                    {binding: 'unit_name', header: '단위', width: 80, align: 'center'},
                    {binding: 'account_stock', header: '장부재고', width: 100, align: 'right' },
                    {binding: 'real_stock', header: '실재고', width: 100, align: 'right' },
                    {binding: 'gap', header: '차이', width: 100, align: 'right' },
                    {binding: 'unit_price', header: '단가', width: 100, align: 'right' },
                    {binding: 'gap_price', header: '차이금액', width: 100, align: 'right' },
                    {binding: 'description', header: '비고', width: 250, align: 'left'},
                    {binding: 'state', header: '상태', width: 80, align: 'center'},
                    {binding: 'taker_name', header: '실사자', width: 100, align: 'center'},
                    {binding: 'take_date_time', header: '실사일시', width: 150, align: 'center'},
                    {binding: 'confirmer_name', header: '확인자', width: 100, align: 'center'},
                    {binding: 'confirm_date_time', header: '확인일시', width: 150, align: 'center'}
                ]
            });
            new FlexGridContextMenu(this.grid);
            this.grid.downloadFileName = 'LOT 재고 조정 이력';
        }

        searchMainData() {
            let _this = this;
            let data = {
                'date_from': $('#srchStartDt').val(),
                'date_to': $('#srchEndDt').val(),
                'storehouse_id': $('#cboStoreHouse').val(),
                'mat_type': $('#cboMaterialType').val(),
                'mat_group_pk': $('#cboMaterialGroup').val(),
                'keyword': $('#keyword').val(),
            };
            
            let fnsuccess = function(result){
                if (result.success) {
                    _this.grid.itemsSource.sourceCollection = result.data;
                }
            };

            let url = this.baseUrl + "/history_list"
            AjaxUtil.getAsyncData(url, data, fnsuccess);
        }


    }



    $(document).ready(function (e) {
        let page = new StockLotTakeHistoryPage();

        AjaxUtil.fillSelectOptions($('#cboMaterialType'), 'system_code', 'all', false, 'mat_type');
        AjaxUtil.fillSelectOptions($('#cboManageLevel'), 'user_code', 'all', false, 'mat_manage_level');
        AjaxUtil.fillSelectOptions($('#cboMaterialGroup'), 'material_group', 'all', false);
        AjaxUtil.fillSelectOptions($('#cboStoreHouse'), 'store_house', 'all', false);

        //$('#srchDt').ax5DatePicker({ direction: 'top' });
        $('#srchStartDt').val(CommonUtil.getYYYYMMDD(-7));
        $('#srchEndDt').val(CommonUtil.getYYYYMMDD());
        
    
        // 검색
        $('#btnSearch').click(function (e) {
            page.searchMainData();
        });

        //$('#cboStoreHouse').change(function (e) {
        //    page.searchMainData();
        //});

        $('#keyword').keypress(function (e) {
            if (e.keyCode === 13)
                page.searchMainData();
        });


        page.searchMainData();

    })
</script>
</th:block>
</html>