<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>공중낙하세균 검사 성적서</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
                <li>선행요건 일지</li>
                <li>공중낙하세균 검사 성적서</li>
            </ul>
        </div>

        <section class="section">
            <div class="section-top">
                <form id="searchForm">
                    <div class="search-wrap">
                        <dl>
                            <dt>
                                일자
                            </dt>
                            <dd>
                                <ul class="date-box">
                                    <li>
                                        <input type="date" id="srchStartDt" name="srchStartDt">
                                        <label for="srchStartDt" class="hide">시작일</label>
                                    </li>
                                    <li>
                                        <input type="date" id="srchEndDt" name="srchEndDt">
                                        <label for="srchEndDt" class="hide">종료일</label>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>&nbsp;</dt>
                            <dd>
                                <li>
                                    <a class="btn btn-delete" title="검색" id="btnSearch">
                                        <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                        <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                                        검색
                                    </a>
                                </li>
                            </dd>
                        </dl>
                    </div>
                </form>
                <div class="button-wrap">
                    <ul>
                        <li>
                            <a class="btn" title="등록" id="btnAdd">
                                <img th:src="@{/images/icon/ico-plus.svg}" alt="등록 아이콘">
                                등록
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid">
                <div id="check_result_grid" style="height: 730px;"></div>
            </div>
        </section>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <script src="/js/grid.js?v=1000"></script>
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>

    <script type="text/javascript">

        class CheckResultStatusPage {
            constructor() {
                this.grid = null;
                this.check_class_code = '공중낙하세균 검사 성적서';
                this.TaskCode = '공중낙하세균 검사 성적서'
                this.url = '/api/precedence/airborn_bacerial';
                this.init();


            }

            init() {
                let _this = this;

                this.grid = new wijmo.grid.FlexGrid('#check_result_grid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    autoGenerateColumns: false,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    isReadOnly: false,
                    itemsSource: new wijmo.collections.CollectionView([]),
                    formatItem: (s, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                        }
                        if (e.panel.cellType === wijmo.grid.CellType.Cell) {
                            const col = s.columns[e.col];
                            const item = e.panel.rows[e.row].dataItem;

                            if (col.binding === 'LineName') {
                                e.cell.innerHTML = CommonUtil.convertApprLineNameHtml(item.LineName, item.LineNameState);
                            }

                            if (col.binding === 'SearchYN' && item.SearchYN === 'Y') {
                                e.cell.innerHTML = '';
                                const button = document.createElement('button');
                                button.className = 'btn-default';
                                button.style.cssText = 'width: 100%; height: 25px;';
                                button.textContent = '조회';
                                button.addEventListener('click', () => {
                                    _this.grid.select(new wijmo.grid.CellRange(e.row, -1));
                                    _this.detail({item, column: {key: 'SearchYN'}});
                                });
                                e.cell.appendChild(button);
                            }

                            if (col.binding === 'EditYN' && item.EditYN === 'Y') {
                                e.cell.innerHTML = '';
                                const button = document.createElement('button');
                                button.className = 'btn-default';
                                button.style.cssText = 'width: 100%; height: 25px;';
                                button.textContent = '수정';
                                button.addEventListener('click', () => {
                                    _this.grid.select(new wijmo.grid.CellRange(e.row, -1));
                                    _this.detail({item, column: {key: 'EditYN'}});
                                });
                                e.cell.appendChild(button);
                            }

                            if (col.binding === 'DeleteYN' && item.DeleteYN === 'Y') {
                                e.cell.innerHTML = '';
                                const button = document.createElement('button');
                                button.className = 'btn-danger';
                                button.style.cssText = 'width: 100%; height: 25px;';
                                button.textContent = '삭제';
                                button.addEventListener('click', () => {
                                    _this.grid.select(new wijmo.grid.CellRange(e.row, -1));
                                    _this.detail({item, column: {key: 'DeleteYN'}});
                                });
                                e.cell.appendChild(button);
                            }
                        }
                    },
                    columns: [
                        {binding: 'Title', header: '일지명', width: 350, align: 'center', isReadOnly: true},
                        {binding: 'StateName', header: '결재상태', width: 100, align: 'center', isReadOnly: true},
                        {binding: 'LineName', header: '결재현황', width: 500, align: 'left', isReadOnly: true},
                        {binding: 'DataDate', header: '등록일', width: 120, align: 'center'},
                        {binding: 'SearchYN', header: '조회', width: 80, align: 'center'},
                        {binding: 'EditYN', header: '수정', width: 80, align: 'center'},
                        {binding: 'DeleteYN', header: '삭제', width: 80, align: 'center'}
                    ]
                });

                new FlexGridContextMenu(this.grid);
                this.grid.downloadFileName = '공중낙하세균 검사 성적서';
            }

            searchMainData() {
                let _this = this;
                let param = {
                    'start_date': $('#srchStartDt').val(),
                    'end_date': $('#srchEndDt').val(),
                };

                let result = AjaxUtil.getSyncData(_this.url + '/read', param);
                if (result.data != null) {
                    _this.grid.itemsSource = result.data;
                }
            }

            detail(data) {
                let _this = this;
                let detail_item = _this.grid.getList('selected')[0];
                if (data.column.key === 'SearchYN' && data.item.SearchYN === 'Y') {
                    location.href = '/gui/' + gui.gui_code + '/edit?bh_id=' + data.item.id + '&data_date=' + data.item.DataDate + '&view_mode=true';
                } else if (data.column.key === 'EditYN' && data.item.EditYN === 'Y') {
                    location.href = '/gui/' + gui.gui_code + '/edit?bh_id=' + data.item.id + '&data_date=' + data.item.DataDate;
                } else if (data.column.key === 'DeleteYN' && data.item.DeleteYN === 'Y') {
                    Alert.confirm('', '삭제하시겠습니까?', function () {
                        let param = {
                            bhId: data.item.id,
                        }
                        let fnSuccess = function (resp) {
                            if (resp.success) {
                                Notify.success('삭제하였습니다.');
                                _this.searchMainData();
                            } else {
                                Alert.alert('', resp.message);
                            }
                        };
                        AjaxUtil.postAsyncData(_this.url + '/delete', param, fnSuccess);
                    });
                }
            }

            //  등록버튼 클릭 시
            add() {

                var today = new Date();

                var year = today.getFullYear();
                var month = ('0' + (today.getMonth() + 1)).slice(-2);
                var day = ('0' + today.getDate()).slice(-2);

                var dateString = year + '-' + month + '-' + day;


                location.href = '/gui/' + gui.gui_code + '/edit?bh_id=0' + '&data_date=' + dateString;
            }

        }

        let page = null;
        let popup = null;
        let modalContainer = null;


        $(document).ready(function (e) {
            page = new CheckResultStatusPage();


            $('#srchStartDt').val(CommonUtil.getYYYYMMDD(-15));
            $('#srchEndDt').val(CommonUtil.getYYYYMMDD());

            //검색 기능
            $('#btnSearch').click(function (e) {
                page.searchMainData();
            });

            $('#btnAdd').click(function (e) {
                page.add();
            });

            page.searchMainData();
        });

    </script>
</th:block>
</html>