<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">
    <style scopped>
        .background-yellow {
            background: #ffd800;
        }

        .background-skyblue {
            background: #00e0ff;
        }

        .background-white {
            background: #ffffff;
        }

        .standard-table {
            width: 100%;
        }

        .standard-table th {
            border: 1px solid #d0d8dd;
            background: #f5f6fa;
            text-align: center;
        }

        .standard-table td {
            border: 1px solid #d0d8dd;
            height: 30px;
            padding: 7px;
            line-height: 1.3;
            text-align: left;

        }
        .sign_btn{
            min-height: 36px;
            height: auto;
        }
    </style>
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>개인 위생 일지</h2>
            </div>
            <ul class="page-navi">
                <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
                <li>선행요건 일지</li>
                <li>개인 위생 일지</li>
            </ul>
        </div>
        <input type="hidden" id="bhId" th:value="${bh_id}"/>
        <input type="hidden" id="data_date" th:value="${data_date}"/>
        <input type="hidden" id="search_cond" th:value="${searchcond}"/>
        <input type="hidden" id="viewMode" th:value="${view_mode}"/>
        <input type="hidden" id="diary_type" th:value="${diary_type}"/>
        <section class="section">
            <div class="section-card-wrap">
                <div class="col-5">
                    <table class="write-table">
                        <tbody>
                        <tr>
                            <th style="text-align: center">
                                <label for="title">일지명</label>
                            </th>
                            <td>
                                <input class="form-control2 tac" type="text" id="title" name="title"/>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center">
                                <label for="dataDate">점검일</label>
                            </th>
                            <td>
                                <input class="form-control2 tac" type="text" id="dataDate" name="dataDate"/>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center">
                                <label for="diaryType">일지종류<span class="eq">*</span></label>
                            </th>
                            <td>
                                <select class="form-control2 tac" type="text" id="diaryType" name="diaryType"></select>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center">
                                <label for="firstName">작성자</label>
                            </th>
                            <td>
                                <input class="form-control2 tac" type="text" id="firstName" name="firstName" disabled/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <div id="approveBox"></div>
                </div>

            </div>
            <div class="title_box" style="margin-bottom: 20px;">
                <div class="left_align">
                    <label class="switch">
                        <input type="checkbox" id="btnToggle" value="" checked><span class="slider round"></span>
                    </label>
                    관리기준 보기/감추기
                </div>
            </div>

            <div id="standardDIv">
                <div class="col-12">
                    <table class="standard-table">
                        <colgroup>
                            <col style="width: 15%;"/>
                            <col style="width: 85%;"/>
                        </colgroup>
                        <tr>
                            <th scope="row">관리기준</th>
                            <td>
                                ▣ 건강상태 : 감기, 화농성 상처, 설사, 복통 증상 <br/>
                                ▣ 위생복 청결상태 : 위생복, 위생모, 위생장화, 마스크, 앞치마 등 작업 복장을 완벽히 착용 <br/>
                                ▣ 종업원 청결상태 : 손톱청결(매니큐어와 인조손톱 금지), 머리 청결상태, 짙은 화장과 향수 금지 <br/>
                                ▣ 출입절차 준수 여부 : 끈끈이 롤러 - 손세척 - 손건조 - 손소독
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">점검주기</th>
                            <td>▣ 1회 / 일</td>
                        </tr>
                        <tr>
                            <th scope="row">판정결과</th>
                            <td>▣ 양호(O), 불량(X)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="section-top" id="prodListGrid">
                <div class="search-wrap">
                    <h3>점검 목록</h3>
                </div>
                <div class="button-wrap" >
                    <button type="button" class="btn" id="btnDiaryPrint">일지출력</button>
                    <button type="button" class="btn" id="btnReqAppr">결재상신</button>
                    <button type="button" class="btn" id="btnAppr" style="display:none;">승인</button>
                    <button type="button" class="btn" id="btnReject" style="display:none;">반려</button>
                    <button type="button" class="btn" id="btnSave">저장</button>
                    <button type="button" class="btn" id="btnDelete">삭제</button>
                    <button type="button" class="btn" id="btnList">목록</button>
                </div>
            </div>
            <div class="section-top" id="interior_div">
                <div class="search-wrap" style="justify-content: flex-start; align-items: flex-end;">
                    <dl>
                        <dt>
                            <label for="departType">
                                부서
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <select class="form-control2" type="text" id="departType" name="departType"></select>
                            </div>
                        </dd>
                    </dl>
                    <div>
                        <button type="button" class="btn" id="btnInterAddRow"><i style="margin-right:10px;" class="fas fa-plus"></i>행추가</button>
                        <button type="button" class="btn" id="btnInterDelRow"><i style="margin-right:10px;" class="fas fa-trash"></i>행삭제</button>
                    </div>
                </div>
            </div>
            <div class="section-top" id="exterior_div">
                <div class="search-wrap" style="justify-content: flex-start; align-items: flex-end;">
                    <dl>
                        <dt>
                            <label for="dataExterDate">
                                날짜
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <input class="form-control2 tac" type="date" id="dataExterDate" name="dataExterDate"/>
                            </div>
                        </dd>
                    </dl>
                    <div>
                        <button type="button" class="btn" id="btnExterAddRow"><i style="margin-right:10px;" class="fas fa-plus"></i>행추가</button>
                        <button type="button" class="btn" id="btnExterDelRow"><i style="margin-right:10px;" class="fas fa-trash"></i>행삭제</button>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="firstList">
                <div id="check_item_first_grid" style="height: 300px;"></div>
            </div>
            <div class="container-fluid" id="secondList">
                <div id="check_item_second_grid" style="height: 300px;"></div>
            </div>
        </section>

        <section class="section" id="devi_section">
            <div class="section-top" id="sub_grid">
                <div class="search-wrap">
                    <h3>이탈 목록</h3>
                </div>
                <div class="button-wrap">
                    <button type="button" class="btn" id="btnDeviActionSave" style="display:none">저장</button>
                </div>
            </div>
            <div class="container-fluid">
                <div id="devi_action_grid" style="height: 230px;"></div>
            </div>
        </section>
        <section class="section" id = "sign_section">
            <div class="section-top">
                <div class="search-wrap">
                    <h3>점검자 정보</h3>
                    <button id="addRow" class="btn-popup"> 점검자 추가</button>
                </div>
            </div>
            <table border='1' style="border-color:lightgray; width: 700px;">
                <thead>
                <tr class="text-center" style="background-color: #f3f3f3; border: 1px solid #E5E5E5; height:30px;">
                    <th style="width:200px;">점검자</th>
                    <th style="width:400px;">서명</th>
                    <th style="width:100px">열삭제</th>
                </tr>
                </thead>
                <tbody id="table_body">

                </tbody>
            </table>
        </section>
    </div>

</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/popup_sign.html :: popup_sign"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>
    <script type="text/javascript">
        class CheckResultDiaryPage {
            constructor() {
                this.grid = null;
                this.approveBoxUtil = null;
                this.fisrtGrid = null;
                this.secondGrid = null;
                this.uploader = null;
                this.checkMasterName = null;
                this.titleName = '개인위생일지'
                this.baseUrl = '/api/precedence/person_hygiene_check';
                this.headInfo = {State: ''};
                this.columnIdMap = {};
                this.init();
            }



            init() {
                let _this = this;

                this.gparam = {
                    bh_id: $('#bhId').val(),
                    data_date: $('#data_date').val(),
                    search_cond: $('#search_cond').val(),
                    view_mode: $('#viewMode').val(),
                    diary_type: $('#diary_type').val(),
                };

                this.firstGrid = new wijmo.grid.FlexGrid('#check_item_first_grid', {
                    autoGenerateColumns: false,
                    selectionMode: wijmo.grid.SelectionMode.ListBox,
                    frozenColumns: 0,
                    frozenRows: 0,
                    allowSorting: false,
                    headersVisibility: wijmo.grid.HeadersVisibility.All,
                    allowMerging: wijmo.grid.AllowMerging.Cells,
                    itemsSource: new wijmo.collections.CollectionView([]),
                    columns: [],
                    formatItem: (s, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.RowHeader) {
                            e.cell.textContent = (e.row + 1).toString();
                        }
                    }
                });

                this.firstGrid.hostElement.addEventListener('click', (e) => {
                    const ht = this.firstGrid.hitTest(e);
                    if (ht.cellType === wijmo.grid.CellType.Cell) {
                        const col = this.firstGrid.columns[ht.col];
                        const item = this.firstGrid.rows[ht.row]?.dataItem;

                        if (!$('#viewMode').val()) {
                            if (col.binding === 'day_off') {
                                item.day_off = item.day_off === 'O' ? 'X' : (item.day_off === 'X' ? null : 'O');
                            }

                            if (col.name === 'OX') {
                                if (!(col.binding in item)) {
                                    item[col.binding] = null; // 필드가 없으면 초기화
                                }
                                switch (item[col.binding]) {
                                    case null:
                                        item[col.binding] = 'O';
                                        this.secondGrid.collectionView.commitEdit();
                                        break;
                                    case 'O':
                                        item[col.binding] = 'X';
                                        this.secondGrid.collectionView.commitEdit();
                                        break;
                                    case 'X':
                                        item[col.binding] = null;
                                        this.secondGrid.collectionView.commitEdit();
                                        break;
                                }
                            }

                            if (item.item0 === 'O' && item.item1 === 'O' && item.item2 === 'O' && item.item3 === 'O' && item.item4 === 'O') {
                                item.item5 = 'O';
                                if (item.sign_state === 'N') {
                                    item.signature = '확인(클릭)';
                                }
                            } else {
                                item.item5 = 'X';
                            }

                            if (item.item5 === 'X') {
                                item.signature = undefined;
                                item.sign_state = 'N';
                            }

                            this.firstGrid.collectionView.refresh();
                        }
                    }
                });

                this.secondGrid = new wijmo.grid.FlexGrid('#check_item_second_grid', {
                    autoGenerateColumns: false,
                    selectionMode: wijmo.grid.SelectionMode.ListBox,
                    frozenColumns: 0,
                    frozenRows: 0,
                    allowSorting: false,
                    headersVisibility: wijmo.grid.HeadersVisibility.All,
                    allowMerging: wijmo.grid.AllowMerging.Cells,
                    itemsSource: new wijmo.collections.CollectionView([]),
                    columns: [],
                    formatItem: (s, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.RowHeader) {
                            e.cell.textContent = (e.row + 1).toString();
                        }
                    }
                });

                this.secondGrid.hostElement.addEventListener('click', (e) => {
                    const ht = this.secondGrid.hitTest(e);
                    if (ht.cellType === wijmo.grid.CellType.Cell) {
                        const col = this.secondGrid.columns[ht.col];
                        const item = this.secondGrid.rows[ht.row]?.dataItem;

                        if (!$('#viewMode').val()) {
                            if (col.name === 'OX') {
                                if (!(col.binding in item)) {
                                    item[col.binding] = null; // 필드가 없으면 초기화
                                }
                                switch (item[col.binding]) {
                                    case null:
                                        item[col.binding] = 'O';
                                        this.secondGrid.collectionView.commitEdit();
                                        break;
                                    case 'O':
                                        item[col.binding] = 'X';
                                        item.signature = undefined;
                                        item.sign_state = 'N';
                                        this.secondGrid.collectionView.commitEdit();
                                        break;
                                    case 'X':
                                        item[col.binding] = null;
                                        item.signature = undefined;
                                        item.sign_state = 'N';
                                        this.secondGrid.collectionView.commitEdit();
                                        break;
                                }
                            }
                            if (col.name === 'N') {
                                if (!(col.binding in item)) {
                                    item[col.binding] = null; // 필드가 없으면 초기화
                                }
                                col.isReadOnly = false;

                            }
                            this.secondGrid.collectionView.refresh();
                        }

                    }
                });

                // _this.secondGrid.formatItem.addHandler((s, e) => {
                //     if (e.panel.cellType === wijmo.grid.CellType.Cell) {
                //         const col = s.columns[e.col];
                //         const item = e.panel.rows[e.row].dataItem;
                //
                //         // 조건에 따라 스타일 적용
                //         if (col.binding === 'signature' && item.item5 && item.sign_state === 'N' && item.ox_state === 'O') {
                //             e.cell.style.color = '#5567ff';
                //         }
                //     }
                // });

                // this.secondGrid.collectionView.collectionChanged.addHandler(() => {
                //     const items = this.secondGrid.collectionView.items;
                //     items.forEach((item) => {
                //         if (item.item5) {
                //             item.temperature_state = 'Y';
                //         } else {
                //             item.temperature_state = 'N';
                //         }
                //
                //         if (item.temperature_state === 'Y' && item.ox_state === 'O') {
                //             if (item.sign_state === 'N') {
                //                 item.signature = '확인(클릭)';
                //             }
                //         }
                //     });
                // });

                this.deviGrid = new wijmo.grid.FlexGrid('#devi_action_grid', {
                    autoGenerateColumns: false,
                    selectionMode: wijmo.grid.SelectionMode.ListBox,
                    frozenColumns: 0,
                    frozenRows: 0,
                    allowSorting: false,
                    headersVisibility: wijmo.grid.HeadersVisibility.Column,
                    itemsSource: new wijmo.collections.CollectionView([]),
                    columns: [
                        { binding: 'id', header: '번호', width: 80, align: 'right', visible: false },
                        { binding: 'index_order', header: '순번', width: 50, align: 'center' },
                        { binding: 'abnormal_detail', header: '이상발생내역', width: 400, align: 'left' },
                        { binding: 'action_detail', header: '조치내역및결과', width: 250, align: 'left' },
                        { binding: 'actor_name', header: '조치자', width: 80, align: 'left' },
                        { binding: 'creater_name', header: '작성자', width: 80, align: 'left' }
                    ]
                });

                this.deviGrid.hostElement.addEventListener('click', (e) => {
                    const ht = this.deviGrid.hitTest(e);
                    if (ht.cellType === wijmo.grid.CellType.Cell) {
                        const col = this.deviGrid.columns[ht.col];
                        const item = this.deviGrid.rows[ht.row]?.dataItem;
                        if (col.binding === 'action_detail' && !$('#viewMode').val()) {
                            _this.showDeviActionCodeSavePopup(item);
                        }
                    }
                });

                $('#table_body').on('click', "button", function (e) {
                    let $btn = $(this);
                    let t = $btn.attr('t');
                    if (t === 'delete') {
                        $btn.parent().parent().remove();
                    } else if (t === 'editSign') {
                        _this.editSign($btn)
                    }

                });
            }

            addRow() {//행 추가
                let first = page.firstGrid.selectedItems[0];
                let second = page.secondGrid.selectedItems[0]

                let worker = '점검자명'

                if (first !== undefined && $('#diaryType').val() === '개인위생일지(직원)') {
                    worker = first.worker
                } else if (second !== undefined && $('#diaryType').val() === '개인위생일지(외부방문자)') {
                    worker = second.worker
                }

                $('#table_body').append(
                    " <tr>"
                    + "  <td class='p-2'>"
                    + "    <input type='text' name = 'studentName' class='form_control' value=" + worker + ">"
                    + "  </td>"
                    + "  <td class='text-center'>"
                    + "    <button class='sign_btn' t='editSign'> "
                    + "    <img t='editImg' style='margin-right: 0'  name = 'signImg'></img>"
                    + "  	  <i class='fas fa-pen'></i> "
                    + "  </button>"
                    + "  </td>"
                    + "  <td class='text-center'>"
                    + "      <button t='delete'>"
                    + "     	 <i class='fas fa-trash'></i>"
                    + "      </button>"
                    + "  </td>"
                    + "</tr>"
                )

            }

            showDeviActionCodeSavePopup(item) {

                // 점검내역 조치내역 팝업
                let _this = this;
                let popupPage = new PopupSelectUserCodePage({

                    'title': '조치내역 선택',
                    'gridValueLabel': '점검항목',
                    'infoData': [
                        {label: '이상발생내역', value: item.abnormal_detail},
                    ],
                    'parentCode': '개인위생일지조치', 'closeManual': true,
                });
                popupPage.show(function (data) {
                    if (data && data.selected.Code === '직접입력') {
                        item.action_detail = data.input;
                    } else {
                        item.action_detail = data.selected.Value;
                    }
                    popupPage.close();
                    _this.deviGrid.refresh();
                    if (item.action_detail) {
                        _this.saveDeviAction(item.check_result_id);
                    }

                });
            }

            saveDeviAction(id) {
                let _this = this;
                let url = '/api/common/devi_action';
                let list = _this.deviGrid.selectedItems[0];
                if (!list) return;

                let data = {
                    id: list.id,
                    source_pk: list.src_data_pk,
                    source_table_name: 'person_hygiene_check',
                    happen_date: list.happen_date,
                    abnormal_detail: list.abnormal_detail,
                    action_detail: list.action_detail,
                    confirm_detail: list.confirm_detail,
                }

                let fnSuccess = function () {
                    Notify.success('저장되었습니다');
                }
                AjaxUtil.postAsyncData(url + '/save_dev_action', data, fnSuccess);
            }

            // 일지 조회
            searchMainData(diary_type) {
                let _this = this;
                $('#btnDiaryPrint').hide();
                $('#btnDelete').hide();
                $('#firstName').val(userinfo.username);
                $('#title').val(_this.titleName);

                if ($('#bhId').val() > 0) {
                    let param = {
                        'bh_id': $('#bhId').val(),
                        'diary_type': $('#diary_type').val() == '' ? diary_type : $('#diary_type').val(),
                    };
                    let result = AjaxUtil.getSyncData(_this.baseUrl + '/read', param);

                    if (result.data != null) {
                        let headInfo = result.data.head_info;
                        let diaryInfo = result.data.diary_info;
                        let actionInfo = result.data.action_info;
                        let studentInfo = result.data.student_info;

                        _this.headInfo.State = headInfo.State;

                        $('#title').val(headInfo.Title);
                        $('#dataDate').val(headInfo.DataDate);
                        $('#firstName').val(headInfo.FirstName);
                        $('#diaryType').val(headInfo.diary_type);
                        // 조회,수정 시 헤더(컬럼) 설정 후 그리드 data set
                        _this.columnSetBySearchItem();

                        if ($('#diaryType').val() === '개인위생일지(직원)') {
                            _this.firstGrid.itemsSource.sourceCollection = diaryInfo; // 데이터 설정

                        } else {
                            _this.secondGrid.itemsSource.sourceCollection = diaryInfo; // 데이터 설정
                        }
                        _this.deviGrid.itemsSource.sourceCollection = actionInfo; // 데이터 설정

                        if (studentInfo != null) {

                            $('#table_body').children().remove();

                            for (var i = 0; i < studentInfo.length; i++) {
                                $('#table_body').append(
                                    " <tr>"
                                    + "  <td class='p-2'>"
                                    + "    <input type='text' name = 'studentName' class='form_control' value=" + studentInfo[i].StudentName + ">"
                                    + "  </td>"
                                    + "  <td class='text-center'>"
                                    + "    <button class='sign_btn'  t='editSign'> "
                                    + "    <img t='editImg' name = 'signImg' id = 'signImg" + studentInfo[i].id + "'></img>"
                                    + "  	  <i class='fas fa-pen'></i> "
                                    + "  </button>"
                                    + "  </td>"
                                    + "  <td class='text-center'>"
                                    + "      <button t='delete'>"
                                    + "     	 <i class='fas fa-trash'></i>"
                                    + "      </button>"
                                    + "  </td>"
                                    + "</tr>"
                                )

                                _this.setImg(studentInfo[i].id);
                            }
                        }

                    }

                } else {
                    // 최초 등록 시 헤더(컬럼) 설정 , 행은 가변
                    _this.columnSetBySearchItem();
                }


                _this.viewModeSetting();

            }

            columnSetBySearchItem() {
                let _this = this;

                if ($('#diaryType').val()) {
                    let param = {
                        'srch_check_name': $('#diaryType option:checked').val()
                    }
                    let check_master_info = AjaxUtil.getSyncData('/api/check/check_master/read', param);
                    _this.check_master_id = check_master_info.data[0].id

                    let data = {
                        'check_master_id': _this.check_master_id,
                        'check_date': $('#dataDate').val(),
                        'start_date': $('#dataDate').val(),
                        'end_date': $('#dataDate').val(),
                    }

                    _this.itemResult = AjaxUtil.getSyncData('/api/check/check_item/read', data);

                    let columnConfig = [];
                    if ($('#diaryType').val() === '개인위생일지(직원)') {
                        columnConfig.push(new wijmo.grid.Column({binding: 'dept', header: '부서', width: 100, align: 'center', isReadOnly: true}));
                        columnConfig.push(new wijmo.grid.Column({binding: 'worker', header: '성명', width: 120, align: 'center', isReadOnly: true}));

                        _this.itemResult.data.forEach((item, index) => {
                            let column = new wijmo.grid.Column({
                                binding: `item${index}`,
                                header: item.item_name,
                                width: item.item_name.length * 10 + 70,
                                align: 'center',
                                isReadOnly: true,
                                name: item.result_type
                            });
                            _this.columnIdMap[`item${index}`] = item.id;
                            columnConfig.push(column);
                        });

                        columnConfig.push(new wijmo.grid.Column({binding: 'sign_state', header: '확인', width: 50, visible: false}));
                        columnConfig.push(new wijmo.grid.Column({binding: 'day_off', header: '휴무', width: 50, align: 'center', isReadOnly: true}));

                        // 새로운 컬럼 배열을 설정
                        _this.firstGrid.columns.clear();
                        columnConfig.forEach(col => _this.firstGrid.columns.push(col));
                        _this.firstGrid.collectionView.refresh();

                    } else {
                        columnConfig.push(new wijmo.grid.Column({binding: 'day_getin', header: '방문날짜', width: 130, align: 'center'}));
                        columnConfig.push(new wijmo.grid.Column({binding: 'worker', header: '성명', width: 100, align: 'center'}));

                        _this.itemResult.data.forEach((item, index) => {
                            let column = new wijmo.grid.Column({
                                binding: `item${index}`,
                                header: item.item_name,
                                width: item.item_name.length * 10 + 70,
                                align: 'center',
                                isReadOnly: true,
                                name: item.result_type
                            });
                            _this.columnIdMap[`item${index}`] = item.id;
                            columnConfig.push(column);
                        });

                        columnConfig.push(new wijmo.grid.Column({binding: 'sign_state', header: '확인', width: 50, visible: false}));
                        columnConfig.push(new wijmo.grid.Column({binding: 'temperature_state', header: '체온state', visible: false}));
                        columnConfig.push(new wijmo.grid.Column({
                            binding: 'signature',
                            header: '서명',
                            width: 150,
                            align: 'center',
                            visible: false,
                        }));

                        // 새로운 컬럼 배열을 설정
                        _this.secondGrid.columns.clear();
                        columnConfig.forEach(col => _this.secondGrid.columns.push(col));
                        _this.secondGrid.collectionView.refresh();
                    }
                }
            }

            viewModeSetting() {
                let _this = this;

                function updateView(viewMode, diaryType) {
                    let isEmployeeDiary = diaryType === '개인위생일지(직원)';
                    let isVisitorDiary = diaryType === '개인위생일지(외부방문자)';
                    let isTrueViewMode = viewMode.toLowerCase() === 'true';
                    let isApprovalState = _this.headInfo.State === 'approval';
                    let isProcessOrReprocess = _this.headInfo.State === 'process' || _this.headInfo.State === 'reprocess';
                    let bhIdValue = parseInt($('#bhId').val(), 10);

                    $('#btnDiaryPrint').toggle(isTrueViewMode && isApprovalState);
                    $('#btnReqAppr, #btnSave').toggle(!isTrueViewMode && (isEmployeeDiary || isVisitorDiary));
                    $('#btnDelete, #btnAllItem').toggle(!isTrueViewMode && !isProcessOrReprocess && diaryType);
                    $('#interior_div').toggle(isEmployeeDiary && !isTrueViewMode);
                    $('#exterior_div').toggle(isVisitorDiary && !isTrueViewMode);
                    $('#firstList').toggle(isEmployeeDiary);
                    $('#secondList').toggle(isVisitorDiary);
                    $('#devi_section').toggle(isEmployeeDiary || isVisitorDiary);
                    $('#sign_section').toggle(isEmployeeDiary || isVisitorDiary);


                    $('#btnDelete').toggle(bhIdValue > 0 && !isTrueViewMode);
                    $('#title, #dataDate, #diaryType').prop('disabled', bhIdValue > 0);
                }

                let viewMode = $('#viewMode').val();
                let diaryType = $('#diaryType').val();

                updateView(viewMode, diaryType);

                _this.approveBoxUtil = new ApproveBoxUtil(0, diaryType, $('#bhId').val(), 'bundle_head', false, false);
                _this.approveBoxUtil.print(viewMode);
                $('#btnAppr, #btnReject').toggle(_this.approveBoxUtil.isApprUser());
            }

            // 존재하는 서명 재클릭하여 수정 시 사용
            editSign(dom) {
                /**
                 let resultGrid = $('#diaryType').val()=='개인위생일지(직원)' ? page.firstGrid : page.secondGrid;
                 let popupPage = new SignPage();
                 popupPage.show(function (data) {
                 let imgUrl = data.src
                 var item = resultGrid.list[index];
                 item.img_src = imgUrl;
                 item.sign_state = 'Y';
                 resultGrid.repaint();
                 });
                 **/
                let popupPage = new SignPage();
                popupPage.show(function (data) {
                    let imgUrl = data.src
                    dom.children()[0].setAttribute('src', imgUrl)
                });
            };

            setImg(id) {
                let imgUrl = this.baseUrl + '/sign/download?id=' + id;
                $('#signImg' + id).attr('src', imgUrl);
            }

            // 일지 출력
            printDiary() {
                let param = {
                    'title': $('#title').val(),
                    'bh_id': $('#bhId').val(),
                };

                let result = AjaxUtil.postSyncData(this.baseUrl + '/print', param, function () {
                });
                if (result.success) {
                    CommonUtil.openWindow('/api/files/pdf_viewer?file_id=' + result.file_id)
                } else {
                    Alert.alert('', '일지 생성 중 오류가 발생했습니다. 관리자에게 문의하세요.');
                }
            }

            //결재
            appr(isAppr) {
                let _this = this;
                _this.approveBoxUtil.approval(isAppr, function () {
                    $('#btnList').click();
                });
            }

            //결재상신
            reqAppr() {
                let _this = this;
                let title = $('#diaryType').val();
                let url = '/gui/' + gui.gui_code + '/edit';
                let urlParam = {
                    'bh_id': $('#bhId').val(),
                    'data_date': $('#dataDate').val(),
                    'diary_type': $('#diaryType').val(),
                };

                let ret = _this.approveBoxUtil.request($('#bhId').val(), title, url, JSON.stringify(urlParam));
                if (ret.success) {
                    Notify.success('결재상신하였습니다.');
                    $('#btnList').click();
                }
            }

            //저장
            save(isAppr) {
                let _this = this;

                let resultGrid = $('#diaryType').val() === '개인위생일지(직원)' ? _this.firstGrid : _this.secondGrid;
                let resultGridCollectionView = resultGrid.collectionView;
                let resultGridItems = resultGridCollectionView.items;
                let resultColumns = resultGrid.columns.filter(column => column.binding && column.header);

                if (resultGridItems.length <= 0) {
                    Alert.alert("", "행을 추가하여 결과를 모두 입력해주세요.");
                    return;
                }

                //if (_this.deviGrid.list.some(item => !item.action_detail)) {
                //    Alert.alert("", "조치내역 및 결과를 모두 입력해주세요.");
                //    return;
                //}

                if (isAppr) {
                    let resultWithX = resultGridItems.some(item => item["item5"] === "X");

                    if (resultWithX) {
                        let deviItems = _this.deviGrid.collectionView.items;

                        if (deviItems.length === 0) {
                            Alert.alert('결재상신', '조치내역을 입력해주세요.');
                            return;
                        }

                        let incompleteDeviItems = deviItems.some(item => !item.action_detail);

                        if (incompleteDeviItems) {
                            Alert.alert('결재상신', '조치내역을 입력해주세요.');
                            return;
                        }
                    }
                }

                let items = resultGridItems.map(item => {
                    return resultColumns
                        .filter(column => column.binding.startsWith("item")) // "itemX" 컬럼만 포함
                        .map(column => ({
                            result: item[column.binding],
                            id: _this.columnIdMap[column.binding] || null
                        }))
                        .filter(col => col.id !== null);
                });

                let trList = $('#table_body').find('tr').length;

                let arrayList = [];

                for (var i = 0; i < trList; i++) {
                    let studentName = document.getElementsByName("studentName")[i].value;

                    // 점검자명 체크
                    if (studentName === '') {
                        Alert.alert('', '점검자명을 입력해주세요');
                        return
                    }
                    // base64로 이미지 변환
                    let img = document.getElementsByName("signImg")[i];
                    //이미지 체크
                    if (img.src === '') {
                        Alert.alert('', '서명을 작성 해주세요');
                        return
                    }

                    let canvas = document.createElement('canvas');
                    let ctx = canvas.getContext('2d');

                    canvas.width = img.width;
                    canvas.height = img.height;

                    // 이미지 체크
                    if (img.complete && img.naturalHeight !== 0) {
                        ctx.drawImage(img, 0, 0);
                    } else {
                        Alert.alert('', '서명 이미지를 확인하세요');
                        return
                    }

                    var base64 = canvas.toDataURL('image/*');
                    var strImage = "data:image/;base64," + base64.replace(/^data:image\/[a-z]+;base64,/, "");

                    arrayList.push(
                        {'studentName': studentName, 'signImg': strImage}
                    )
                }
                let data = {
                    bh_id: $('#bhId').val(),
                    check_master_id: _this.check_master_id,
                    title: $('#title').val(),
                    data_date: $('#dataDate').val(),
                    diary_type: $('#diaryType').val(),
                    rowQ: JSON.stringify(resultGridItems),
                    colQ: JSON.stringify(items),
                    tableQ: JSON.stringify(arrayList)
                };

                let fnSuccess = (resp) => {
                    if (resp.success) {
                        $('#bhId').val(resp.data.id);
                        if (isAppr) {
                            _this.reqAppr();
                        } else {
                            Notify.success('저장하였습니다.');
                            $('#btnDelete').show();
                            $('#dataDate').attr('disabled', 'disabled');
                            _this.searchMainData($('#diaryType').val());
                        }
                    } else {
                        Alert.alert('', resp.message);
                    }
                };

                let confirmMessage = isAppr ? '결재상신하시겠습니까?' : '저장하시겠습니까?';

                Alert.confirm('', confirmMessage, () => {
                    AjaxUtil.postAsyncData(_this.baseUrl + '/save', data, fnSuccess);
                });
            }

            //삭제
            delete() {
                let _this = this;
                Alert.confirm('', '삭제하시겠습니까?', function () {
                    // 삭제 서비스 호출
                    let param = {
                        bh_id: $('#bhId').val(),
                    }
                    let fnSuccess = function (resp) {
                        if (resp.success) {
                            Notify.success('삭제하였습니다.');
                            $('#btnList').click();
                        } else {
                            Alert.alert('', resp.message);
                        }
                    };
                    AjaxUtil.postAsyncData(_this.baseUrl + '/delete', param, fnSuccess);
                });
            }

        }

        let page = null;

        $(document).ready(function (e) {
            page = new CheckResultDiaryPage();

            if (page.gparam.diary_type) {
                AjaxUtil.fillSelectOptions($("#diaryType"), "system_code", page.gparam.diary_type, '', "person_hygiene_check_type");
            } else {
                AjaxUtil.fillSelectOptions($("#diaryType"), "system_code", "choose", '', "person_hygiene_check_type");
            }

            AjaxUtil.fillSelectOptions($("#departType"), "depart", "choose", false);

            $('#dataDate').val(page.gparam.data_date);
            $('#dataExterDate').val(page.gparam.data_date);

            $('#btnAllItem').click(function (e) {
                page.checkAllItem();
            });

            // 일자 변경
            $('#dataDate').change(function () {
                page.searchMainData();
            });

            // 일지 출력
            $('#btnDiaryPrint').on('click', function () {
                page.printDiary();
            });

            // 결재상신
            $('#btnReqAppr').on('click', function () {
                page.save(true);
            });

            // 승인
            $('#btnAppr').on('click', function () {
                page.appr(true);
            });

            // 반려
            $('#btnReject').on('click', function () {
                page.appr(false);
            });

            // 임시저장
            $('#btnSave').on('click', function () {
                if ($('#diaryType').val() === '' || $('#diaryType').val() == null) {
                    Alert.alert("", "일지종류를 선택해주세요.");
                    return;
                }
                page.save(false);
            });

            // 삭제
            $('#btnDelete').on('click', function () {
                page.delete();
            });

            // 목록
            $('#btnList').on('click', function () {
                if (page.gparam.appr_view) {
                    location.href = encodeURI('/gui/' + page.gparam.appr_view + '?searchcond=' + page.gparam.search_cond);
                } else {
                    location.href = encodeURI('/gui/' + gui.gui_code + '?searchcond=' + page.gparam.search_cond);
                }
            });

            // 점검기준 보기/감추기 토글
            $("#btnToggle").click(function (e) {
                $("#standardDIv").toggle(300);
            });

            // 직원 그리드 행 추가
            $('#btnInterAddRow').click(function (e) {

                if ($('#departType').val() === '' || $('#departType').val() == null) {
                    Alert.alert("", "부서를 선택해주세요.");
                    return;
                }

                let param = {
                    dept_id: $('#departType').val()
                }

                let result = AjaxUtil.getSyncData(page.baseUrl + '/read_user', param);

                let data = result.data

                if (data.length === 0) {
                    Alert.alert("", "부서 인원이 없습니다.");
                    return;
                }


                let newItems = data.map(item => ({
                    'dept_id': item.deptId,
                    'dept': item.deptName,
                    'worker_id': item.userId,
                    'worker': item.userName,
                    'item0': null,
                    'item1': null,
                    'item2': null,
                    'item3': null,
                    'item4': null,
                    'item5': null,
                    'day_off': null,
                    'sign_state': 'N',
                }));

                let collectionView = page.firstGrid.collectionView;
                collectionView.sourceCollection.push(...newItems);
                collectionView.refresh();

            });

            //  직원 그리드 행삭제
            $("#btnInterDelRow").click(function (e) {
                let collectionView = page.firstGrid.collectionView;
                let selectedItems = page.firstGrid.selectedItems;

                collectionView.sourceCollection = collectionView.sourceCollection.filter(
                    item => !selectedItems.includes(item)
                );
                collectionView.refresh();
            });

            // 방문자 그리드 행추가
            $('#btnExterAddRow').click(function (e) {
                let newItem = {
                    'day_getin': $('#dataExterDate').val(),
                    'temperature_state': 'N',
                    'ox_state': 'X',
                    'sign_state': 'N'
                };

                let collectionView = page.secondGrid.collectionView;
                collectionView.sourceCollection.push(newItem);
                collectionView.refresh();
            });

            // 방문자 그리드 행삭제
            $("#btnExterDelRow").click(function (e) {
                let collectionView = page.secondGrid.collectionView;
                let selectedItems = page.secondGrid.selectedItems;

                collectionView.sourceCollection = collectionView.sourceCollection.filter(
                    item => !selectedItems.includes(item)
                );
                collectionView.refresh();
            });

            $('#diaryType').change(function () {
                page.checkMasterName = $('#diaryType option:checked').val();
                page.searchMainData();
            });

            // 테이블 행추가
            $('#addRow').on('click', function () {
                page.addRow();
            });
            // 최초 서명 시 사용
            /**
             window.editSign = function (index) {
             let resultGrid = $('#diaryType').val()=='개인위생일지(직원)' ? page.firstGrid : page.secondGrid;
             let popupPage = new SignPage();
             popupPage.show(function (data) {
             let imgUrl = data.src
             var item = resultGrid.list[index];
             item.img_src = imgUrl;
             item.sign_state = 'Y';
             resultGrid.repaint();
             });
             };
             **/
            page.searchMainData();
        });
    </script>
</th:block>
</html>
