<html layout:decorate="~{layout_page}">
<head>
    <style>
        .select2-container--open {
            z-index: 9001;
        }

    </style>
</head>
<th:block layout:fragment="content">
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>공정능력분석</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
                <li>품질관리</li>
                <li>공정능력분석</li>
            </ul>
        </div>
        <section class="section">
            <div class="section-top">
                <div class="search-wrap">
                    <dl>
                        <dt>
                            <label>
                                점검일
                            </label>
                        </dt>
                        <dd>
                            <ul class="date-box">
                                <li>
                                    <input type="date" id="srchStartDt" name="srchStartDt">
                                    <label for="srchStartDt" class="hide">시작일</label>
                                </li>
                                <li>
                                    <input type="date" id="srchEndDt" name="srchEndDt">
                                    <label for="srchEndDt" class="hide">종료일</label>
                                </li>
                            </ul>
                        </dd>
                    </dl>


                    <dl>
                        <dt>
                            <label>
                                일지명<span class="eq"></span>
                            </label>
                        </dt>
                        <dd>
                            <div class="srch-box">
                                <input type="text" class="form-control2" id="keyword" name="keyword"/>
                            </div>
                        </dd>
                    </dl>

                    <dl>
                        <dt>&nbsp;</dt>
                        <dd>
                            <li>
                                <a class="btn btn-delete" title="검색" id="btnSearch">
                                    <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                                    <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                                    검색
                                </a>
                            </li>
                        </dd>
                    </dl>

                </div>
            </div>
            <div class="container-fluid">
                <div id="theGrid" ></div>

            </div>

            <!--        <div class="grid_box">-->

            <!--            <div class="h-640" data-ax5grid="sujuGrid" ></div>-->
            <!--        </div>-->
        </section>


    </div>

</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
    <script type="text/javascript">
        class DeviActionPage {

        }

    </script>
</th:block>
</html>