<html layout:decorate="~{layout_page}">
<head>
  <style>
    .select2-container--open {
      z-index: 9001;
    }

  </style>
</head>
<th:block layout:fragment="content">
  <div class="layout-contents">
    <div class="page-title-wrap">
      <div class="left">
        <h2>SPC관리기준</h2>
        <a title="북마크" class="bookmark toggle">
          내 메뉴
        </a>
      </div>
      <ul class="page-navi">
        <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
        <li>품질관리</li>
        <li>SPC관리기준</li>
      </ul>
    </div>
    <section class="section">
      <div class="section-top">
        <div class="search-wrap">
          <dl>
            <dt>
              <label>
                품목명
              </label>
            </dt>
            <dd>
              <ul class="date-box">
                <li>
                  <input type="text" id="srchStartDt" name="srchStartDt">
                </li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>&nbsp;</dt>
            <dd>
              <li>
                <a class="btn btn-delete" title="검색" id="btnSearch">
                  <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                  <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                  검색
                </a>
              </li>
            </dd>
          </dl>

        </div>
      </div>
      <div class="container-fluid">
        <div id="theGrid" ></div>

      </div>
    </section>
    <section class="section">
      <div class="button-wrap button-list">
        <ul>
          <li>
            <button type="button" class="btn-excellt btn-default " id="btnNew" name="btnNew"
                    style="width: 115px; height: 36px;">
              <i class="fas fa-plus"></i>신규등록
            </button>
          </li>

          <li>
            <button type="button" class="btn-delete btn-danger" id="btnDelete"
                    style="width: 115px; height: 36px;">
              <i class="fas fa-trash"></i>삭제
            </button>
          </li>

          <li>
            <button disabled type="button" class="btn-excellt btn-defaul" id="btnSave"
                    style="width: 115px; height: 36px;">
              <i class="fas fa-save"></i>저장
            </button>
          </li>
        </ul>
      </div>
      <table class="write-table"
             style="width: 100%; border-collapse: collapse;">
        <caption style="text-align: left; margin-bottom: 8px;">상세테이블</caption>
        <input type="hidden" class="form-control2" id="id" name="id" readonly disabled/>
        <tbody>
        <tr>
          <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
            <label for="master_grp">품목코드</label>
          </th>
          <td >
            <select id="master_grp" name="master_grp"
                    style="width: 100%;"></select>
          </td>
          <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
            <label for="master_name"><span class="eq">*</span>품목명</label>
          </th>
          <td colspan="2">
            <input type="text" id="master_name" name="master_name"
                   style="width: 100%;">
          </td>
          <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
            <label for="test_type"><span class="eq">*</span>공정명</label>
          </th>
          <td colspan="2">
            <select style="width: 100%;" id="test_type"
                    name="test_type"></select>
          </td>
          <th >
            <label for="test_type"><span class="eq">*</span>측정항목</label>
          </th>
          <td colspan="3">
            <select style="width: 100%;" id="test_type"
                    name="test_type"></select>
          </td>
          <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
            <label for="test_type"><span class="eq">*</span>측정단위</label>
          </th>
          <td colspan="3">
            <select style="width: 100%;" id="test_type"
                    name="test_type"></select>
          </td>
        </tr>
        <tr>
          <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
            <label for="test_type"><span class="eq">*</span>타겟값</label>
          </th>
          <td >
            <select style="width: 100%;" id="test_type"
                    name="test_type"></select>
          </td>
          <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
            <label for="test_type"><span class="eq">*</span>USL</label>
          </th>
          <td >
            <select style="width: 100%;" id="test_type"
                    name="test_type"></select>
          </td>
          <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
            <label for="test_type"><span class="eq">*</span>LSL</label>
          </th>
          <td >
            <select style="width: 100%;" id="test_type"
                    name="test_type"></select>
          </td>
          <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
            <label for="test_type"><span class="eq">*</span>UCL</label>
          </th>
          <td >
            <select style="width: 100%;" id="test_type"
                    name="test_type"></select>
          </td>
          <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
            <label for="test_type"><span class="eq">*</span>LCL</label>
          </th>
          <td >
            <select style="width: 100%;" id="test_type"
                    name="test_type"></select>
          </td>
          <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
            <label for="test_type"><span class="eq">*</span>샘플수</label>
          </th>
          <td >
            <select style="width: 100%;" id="test_type"
                    name="test_type"></select>
          </td>
          <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
            <label for="test_type"><span class="eq">*</span>측정주기</label>
          </th>
          <td >
            <select style="width: 100%;" id="test_type"
                    name="test_type"></select>
          </td>
          <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
            <label for="test_type"><span class="eq">*</span>사용여부</label>
          </th>
          <td >
            <select style="width: 100%;" id="test_type"
                    name="test_type"></select>
          </td>
        </tr>
        </tbody>
      </table>


      <!--        <div class="grid_box">-->

      <!--            <div class="h-640" data-ax5grid="sujuGrid" ></div>-->
      <!--        </div>-->
    </section>


  </div>

</th:block>

<th:block layout:fragment="scripts">
  <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
  <script type="text/javascript">
    class SpcManagementPage {
      constructor() {
        this.grid = null;
        this.viewData = new wijmo.collections.CollectionView();
        this.init();
      }
      init() {
        let _this = this;

        this.grid = new wijmo.grid.FlexGrid('#theGrid', {
          selectionMode: wijmo.grid.SelectionMode.Row,
          headersVisibility: wijmo.grid.HeadersVisibility.Column,
          autoGenerateColumns: false,
          showMarquee: true,
          isReadOnly: true,
          formatItem: (sender, e) => {
            if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
              e.cell.style.textAlign = 'center';
            }
          },
          columns: [
            //{ key: 'id', label: '번호', width: 150, align: 'center' },
            {binding: 'test_master_grp', header: '품목코드', width: '*', align: 'left'},
            {binding: 'test_master_class', header: '공정명', width: '*', align: 'left'},
            {binding: 'test_master_name', header: '단위', width: '*', align: 'left'},
            {binding: 'test_master_name', header: '타겟값', width: '*', align: 'left'},
            {binding: 'test_master_name', header: 'USL', width: '*', align: 'left'},
            {binding: 'test_master_name', header: 'LSL', width: '*', align: 'left'},
            {binding: 'test_master_name', header: 'UCL', width: '*', align: 'left'},
            {binding: 'test_master_name', header: 'LCL', width: '*', align: 'left'},
            {binding: 'test_master_name', header: '측정주기', width: '*', align: 'left'},
            {binding: 'test_master_name', header: '사용여부', width: '*', align: 'left'},
          ],
          itemsSource: this.viewData, // 데이터를 설정할 배열
        });
        new FlexGridContextMenu(this.grid);
        this.grid.downloadFileName = '검사마스터';
      };
    }

    $(document.body).ready(function (e) {
      page = new SpcManagementPage();

    });

  </script>
</th:block>
</html>