<div th:fragment="mobile_menu">
    <div class="mobile-layout-menu">
        <div class="menu-wrapper" id="gnb">
            <div class="menu-top">
                <div class="left">
                    <img th:src="@{/assets_mobile/images/icon/ico-user.png}" alt="사용자 아이콘" style="position: relative; top: 5px;">
                    <p class="user-name">
                        <span id="userName"></span>
                    </p>
                    <h5 id="groupname"></h5>
                </div>
                <div class="right">
                    <a id="logout" title="로그아웃">
                        <img th:src="@{/assets_mobile/images/icon/btn-logout.png}" alt="로그아웃">
                    </a>
                    <a title="팝업닫기" class="btn-menu-close">
                        <img th:src="@{/assets_mobile/images/icon/btn-menu-close.png}" alt="닫기">
                    </a>
                </div>
            </div> <!--//menu-top end-->

            <nav th:data-page="${currentPage}">
                <!-- dep1 -->
                <ul class="dep1">
                    <li data-target="menu1">전체메뉴</li>

                </ul>
                <div class="dep2">
                    <ul data-menu="menu1">
                        <li><a th:href="@{/}" title="출퇴근등록" class="menu-link">출퇴근등록</a></li>
                        <li><a th:href="@{/mobile/attendance_submit}" title="휴가등록" class="menu-link">휴가등록</a></li>
                        <li><a th:href="@{/mobile/commute_current}" title="출퇴근현황" class="menu-link">출퇴근현황</a></li>
                        <li><a th:href="@{/mobile/attendance_current}" title="휴가현황" class="menu-link">휴가현황</a></li>
                        <li><a th:href="@{/mobile/attendance_statistics}" title="휴가통계" class="menu-link">휴가통계</a></li>
                        <li><a th:href="@{/mobile/user_info}" title="사용자정보" class="menu-link">사용자정보</a></li>
                    </ul>
                </div>
            </nav>
        </div> <!--//menu-wrapper end-->
    </div> <!--//mobile-layout-menu end-->
</div>
