<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .wj-header {
            text-align: center !important;
        }
    </style>
</head>

<th:block layout:fragment="content">
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>메뉴 로그</h2>
                <!--                <a title="북마크" class="bookmark toggle">-->
                <!--                    내메뉴-->
                <!--                </a>-->
            </div>
            <ul class="page-navi">
                <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
                <li>시스템관리</li>
                <li>메뉴로그</li>
            </ul>
        </div>
        <div class="tab-wrap">
            <ul class="tab-links">
                <li>
                    <a href="#tab1" title="메뉴카운트">메뉴카운트</a>
                </li>
                <li>
                    <a href="#tab2" title="메뉴로그">메뉴로그</a>
                </li>
            </ul>
            <div class="tab-contents">
                <section class="tab-item" id="tab1" style="height: 820px;">
                    <div class="section-top">
                        <form id="searchForm">
                            <div class="search-wrap">
                                <dl>
                                    <dt>
                                        발생일<span class="eq"></span>
                                    </dt>
                                    <dd>
                                        <ul class="date-box">
                                            <li>
                                                <input class="tac w150 date_from " type="date" id="date_from" name="date_from"/>
                                                <label for="date_from" class="hide">시작일</label>
                                            </li>
                                            <li>
                                                <input class="tac w150 date_to" type="date" id="date_to" name="date_to"/>
                                                <label for="date_to" class="hide">종료일</label>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <label for="cboMenu">
                                            메뉴<span class="eq"></span>
                                        </label>
                                    </dt>
                                    <dd>
                                        <div class="srch-box">
                                            <select class="form-control2" id="cboMenu" name="cboMenu" style="border-radius: 5px 5px 5px 5px; width: 250px;"></select>
                                        </div>
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <label for="cboUser">
                                            사용자<span class="eq"></span>
                                        </label>
                                    </dt>
                                    <dd>
                                        <div class="srch-box">
                                            <select class="form-control2" id="cboUser" name="cboUser"  style="border-radius: 5px 5px 5px 5px;"></select>
                                        </div>
                                    </dd>
                                </dl>

                                <dl>
                                    <dt><span class="eq"></span></dt>
                                    <dd>
                                        <li>
                                            <a class="btn btn-delete" title="검색" id="btnSearch1">
                                                <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                                                검색
                                            </a>
                                        </li>
                                    </dd>
                                </dl>

                            </div>
                        </form>
                    </div> <!--//section-top end -->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid1" style="height: 700px; max-height: 700px;"></div>
                    </div>
                    <div class="btn-wrap">
                    </div>
                </section>

                <section class="tab-item" id="tab2" style="height: 820px;">
                    <div class="section-top">
                        <div class="search-wrap">
                            <dl>
                                <dt>
                                    발생일<span class="eq"></span>
                                </dt>
                                <dd>
                                    <ul class="date-box">
                                        <li>
                                            <input type="date" id="date_from2" name="date_from" class="date_from">
                                            <label for="date_from2" class="hide">시작일</label>
                                        </li>
                                        <li>
                                            <input type="date" id="date_to2" name="date_to" class="date_to">
                                            <label for="date_to" class="hide">종료일</label>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>

                            <dl>
                                <dt>
                                    <label for="cboMenu2">
                                        메뉴<span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <select class="form-control2 w300" id="cboMenu2" name="cboMenu"></select>
                                </dd>
                            </dl>

                            <dl>
                                <dt>
                                    <label for="cboUser2">
                                        사용자<span class="eq"></span>
                                    </label>
                                </dt>
                                <dd>
                                    <div class="srch-box">
                                        <select class="form-control2 w250" id="cboUser2" name="cboUser" style="border-radius: 5px 5px 5px 5px;"></select>
                                    </div>
                                </dd>
                            </dl>

                            <dl>
                                <dt><span class="eq"></span></dt>
                                <dd>
                                    <li>
                                        <a class="btn btn-delete" title="검색" id="btnSearch2">
                                            <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                                            검색
                                        </a>
                                    </li>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid2" style="height: 700px; max-height: 700px;"></div>
                    </div>
                    <div class="btn-wrap">
                    </div>
                </section>

            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->

    <footer style="margin-top: 24px;">
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>

</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        var theGrid1;
        var viewdata1;
        var theGrid2;
        var viewdata2;

        /*메뉴로그 컬럼들*/
        var columns1 = [
            {binding: 'folder_name', header: '메뉴폴더', width: 200, align: 'left'},
            {binding: 'menu_name', header: '메뉴', width: 200, align: 'left'},
            {binding: 'use_count', header: '사용횟수', width: 200, align: 'right'},
            {binding: '', header: '', width: "*" },
        ];

        var columns2 = [
            /*{binding: 'row_number', header: 'No', width: 160, align: 'center'},*/
            {binding: 'folder_name', header: '메뉴폴더', width: 200, align: 'left'},
            {binding: 'menu_name', header: '메뉴', width: 260, align: 'left'},
            {binding: 'username', header: '아이디', width: 160, align: 'center'},
            {binding: 'user_name', header: '이름', width: 160, align: 'center'},
            {binding: 'click_date', header: '일시', width: 260, align: 'center'},
            {binding: '', header: '', width: "*", align: 'center'},
        ];


        document.readyState === 'complete' ? init() : window.onload = init;


        <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
        function init() {
            menu_count();
            menu_log();
        }


        function menu_count(){
            let data2 = [];

            let date_from = $('#date_from').val();
            let date_to = $('#date_to').val();
            let cboMenu = $('#cboMenu').val();
            let cboUser = $('#cboUser').val();

            $.ajax({
                url: '/api/system/menulog/log_count',
                type: 'GET',
                data: {
                    'date_from': date_from,
                    'date_to': date_to,
                    'cboMenu': cboMenu,
                    'cboUser': cboUser
                },
                async: false,
                success: function (data) {
                    data2 = data.data;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_count data:', textStatus, errorThrown);
                }
            })

            viewdata1 = new wijmo.collections.CollectionView(data2);

            theGrid1 = new wijmo.grid.FlexGrid('#theGrid1', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: columns1,
                isReadOnly: true,
                itemsSource: viewdata1
            });

            theGrid1.rowHeaders.columns.splice(0, 1);
            /*  new FlexGridContextMenu(theGrid);*/

        }

        $('#btnSearch1').click(searchData);

        // theGrid1의 검색함수
        function searchData() {
            let cboMenu = $('#cboMenu').val();
            let date_from = $('#date_from').val();
            let date_to = $('#date_to').val();
            let cboUser = $('#cboUser').val();

            $.ajax({
                url: '/api/system/menulog/log_count',
                type: 'GET',
                data: {
                    'cboMenu': cboMenu,
                    'date_from': date_from,
                    'date_to': date_to,
                    'cboUser': cboUser
                },
                async: false,
                success: function (result) {
                    if (result.success) {
                        grid_binding(result.data);
                    } else {
                        console.log("Error occurred");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);

                }
            });
        }

        function grid_binding(data) {

            if (!Array.isArray(data)) {
                console.error('데이터가 배열 형식이 아닙니다:', data);
                return;
            }

            let menulogData = data.map(item => ({
                folder_name: item.folder_name,
                menu_name: item.menu_name,
                use_count: item.use_count,
                e:item.e
            }));

            if (typeof theGrid1 === 'undefined' || typeof viewdata1 === 'undefined') {
                console.error('theGrid 또는 viewdata가 정의되지 않았습니다.');
                return;
            }

            theGrid1.columns.clear();
            theGrid1.autoGenerateColumns = false;

            // columns 배열이 정의되어 있는지 확인
            if (typeof columns1 === 'undefined' || !Array.isArray(columns1)) {
                console.error('columns 배열이 정의되지 않았습니다.');
                return;
            }

            columns1.forEach(columnDef => {
                var col = new wijmo.grid.Column(columnDef);
                theGrid1.columns.push(col);
            });

            viewdata1 = new wijmo.collections.CollectionView(menulogData);

            theGrid1.itemsSource = viewdata1;
            theGrid1.refresh();
        }


        function menu_log(){
            let data2 = [];

            let date_from = $('#date_from2').val();
            let date_to = $('#date_to2').val();
            let cboMenu = $('#cboMenu2').val();
            let cboUser = $('#cboUser2').val();

            $.ajax({
                url: '/api/system/menulog/log_list',
                type: 'GET',
                data: {
                    'date_from': date_from,
                    'date_to': date_to,
                    'cboMenu': cboMenu,
                    'cboUser': cboUser
                },
                async: false,
                success: function (data) {
                    data2 = data.data;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);
                }
            })


            viewdata2 = new wijmo.collections.CollectionView(data2);

            theGrid2 = new wijmo.grid.FlexGrid('#theGrid2', {
                autoGenerateColumns: false,
                showMarquee: true,
                columns: columns2,
                isReadOnly: true,
                itemsSource: viewdata2
            });


            theGrid2.rowHeaders.columns.splice(0, 1);

            /*     new FlexGridContextMenu(theGrid2);
                 window.downloadFileName = '메뉴로그';*/
        }

        $('#btnSearch2').click(searchData2);

        // theGrid2의 검색함수
        function searchData2() {
            let cboMenu = $('#cboMenu2').val();
            let cboUser = $('#cboUser2').val();
            let date_from = $('#date_from2').val();
            let date_to = $('#date_to2').val();

            $.ajax({
                url: '/api/system/menulog/log_list',
                type: 'GET',
                data: {
                    'cboMenu': cboMenu,
                    'cboUser': cboUser,
                    'date_from': date_from,
                    'date_to': date_to
                },
                async: false,
                success: function (result) {
                    if (result.success) {
                        grid_binding2(result.data);
                    } else {
                        console.log("Error occurred");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching log_list data:', textStatus, errorThrown);
                }
            });
        }


        function grid_binding2(data) {
            if (!Array.isArray(data)) {
                console.error('데이터가 배열 형식이 아닙니다:', data);
                return;
            }

            var menulogData = data.map(item => ({
                folder_name: item.folder_name,
                menu_name: item.menu_name,
                username: item.username,
                user_name: item.user_name,
                click_date: item.click_date
            }));

            // theGrid와 viewdata가 접근 가능하고 올바르게 초기화되었는지 확인
            if (typeof theGrid2 === 'undefined' || typeof viewdata2 === 'undefined') {
                console.error('theGrid 또는 viewdata가 정의되지 않았습니다.');
                return;
            }

            theGrid2.columns.clear();
            theGrid2.autoGenerateColumns = false;

            columns2.forEach(columnDef => {
                var col = new wijmo.grid.Column(columnDef);
                theGrid2.columns.push(col);
            });

            viewdata2 = new wijmo.collections.CollectionView(menulogData);

            theGrid2.itemsSource = viewdata2;
            theGrid2.refresh();
        }


        $(document).ready(function (e) {

            const currentDate = new Date();
            const today = currentDate.toISOString().split('T')[0];

            const oneWeekAgo = new Date(currentDate);
            oneWeekAgo.setDate(currentDate.getDate() - 7);
            const oneWeekAgoFormatted = oneWeekAgo.toISOString().split('T')[0];

            $('.date_from').val(oneWeekAgoFormatted);
            $('.date_to').val(today);


            // tab1과 tab2의 그룹 select에 값을 부여
            AjaxUtil.fillSelectOptions($('#cboMenu'), 'menu_item', 'all');
            AjaxUtil.fillSelectOptions($('#cboMenu2'), 'menu_item', 'all');


            // tab2의 사용자 폴더의 값들을 불러옴
            let url = '/api/system/menulog/user_list';
            let user_list = AjaxUtil.getSyncData(url);

            let $combo = $('#cboUser');
            $combo.empty();
            let option = $('<option>',
                {
                    value: '',
                    text: '전체',
                });
            $combo.append(option);
            $.each(user_list.data, function (index, row) {
                let option = $('<option>',
                    {
                        value: row['value'],
                        text: row['text'],
                    });
                $combo.append(option);
            });


            let $combo2 = $('#cboUser2');
            $combo2.empty();
            let option2 = $('<option>',
                {
                    value: '',
                    text: '전체',
                });
            $combo2.append(option2);
            $.each(user_list.data, function (index, row) {
                let option2 = $('<option>',
                    {
                        value: row['value'],
                        text: row['text'],
                    });
                $combo2.append(option2);
            });


        });
    </script>
</th:block>

</html>